##Macros
#macro( event $event )
    <dt>Name:</dt>			        
    <dd>$event.name</dd>
	<dt>Start:</dt>
	<dd>#if ($event.unknownEventStart) Unknown #else ${date.format('yyyy-MM-dd hh:mm', $event.eventStart)} #end	</dd>
	<dt>End:</dt>
	<dd>#if ($event.unknownEventEnd) Unknown #elseif ($event.eventEnd) ${date.format('yyyy-MM-dd hh:mm', $event.eventEnd)} #else None #end </dd>
	<dt>Result:</dt>
	<dd>#if ($event.success) Success #else Failure #end</dd>
	<dt>Performing agent:</dt>
	<dd>#if ($event.unknownPerformingAgent) Unknown #elseif ($event.performingAgent) ${event.performingAgent.name} #else None #end</dd>
	<dt>Reporting agent:</dt>
	<dd>$event.reportingAgent.name</dd>
	<dt>Requesting agent:</dt>
	<dd>#if ($event.unknownRequestingAgent) Unknown #elseif ($event.requestingAgent) $event.requestingAgent.name #else None #end</dd>
	#if ($event.message)
		<dt>Message:</dt>
		<dd><p>$event.message</p></dd>
	#end
#end

<div id="filters">
	<h2>Filters</h2>
    <form action="${contextPath}/reports/${reportId}.html" method="get">
		<label for="packageFilter">Package</label>
	    <select id="packageFilter" name="packageKey">
           #foreach ( $packageItem in ${packageList})
                #if( $packageItem.key == $package.key )
            <option selected="selected" value="$packageItem.key"> $packageItem.repository.id - $packageItem.packageId </option>
                #else
            <option value="$packageItem.key"> $packageItem.repository.id - $packageItem.packageId </option>
                #end
           #end
       </select>
   	   <input type="submit" class="button" value="refresh" />
    </form>
</div>
#if ($package)
    <div id="reportContents">
    	<h2>Report</h2>          		
		<div id="packageDetails">
			<h3>Package details</h3>
			<dl>
				<dt>Repository:</dt>
				<dd>$package.repository.id</dd>
				<dt>Package Id:</dt>
		        <dd>$package.packageId</dd>
				#if ($package.processInstanceId)
			        <dt>Process Instance:</dt>
			        <dd><a href="${contextPath}/processinstance/${package.processInstanceId}.html">$package.processInstanceId</a></dd>
		        #end
		        <dt>Canonical file count:</dt>
				<dd>${package.canonicalFiles.size()}</dd>
	        </dl>
	    </div>
	    <div id="packageEvents">
	    	<h3>Package Events</h3>
	    	#foreach($event in $package.packageEvents)
	    		<div id="packageEvent${event.key}">
	    			<h6>Package Event ${event.key}</h6>
		    		<dl>					
		    			#event($event)
		    		</dl>
		    	</div>
    		#end
		</div>
		<div id="fileLocations">
			<h3>File Locations</h3>			
		    #foreach($fileLocation in $package.fileLocations)
			    <div id="fileLocation${fileLocation.key}">
	    			<h4>File Location ${fileLocation.key}</h4>
	    			<dl>
		    			#if (${fileLocation.class.simpleName.startsWith("ExternalFileLocation")})
		    				#if ($fileLocation.mediaType)
		    					<dt>Media type:</dt>
		    					<dd>$fileLocation.mediaType</dd>
			    			#end
			    			#if ($fileLocation.externalIdentifier)
		    					<dt>Identifier:</dt>
		    					<dd>$fileLocation.externalIdentifier.identifierType : $fileLocation.externalIdentifier.identifierValue</dd>
		    				#end
		    			#else
	    					<dt>Storage system</dt>
	    					<dd>$fileLocation.storageSystem.name</dd>
		    			#end
	    				<dt>Base path:</dt>
	    				<dd>$fileLocation.basePath</dd>
	    				<dt>Managed:</dt>
	    				<dd>$fileLocation.managed</dd>
	    				<dt>Is bag:</dt>
	    				<dd>$fileLocation.isBag()</dd>
	    				<dt>File instance count</dt>
	    				<dd>${fileLocation.fileInstances.size()}</dd>
	    			</dl>
	    			<div id="fileLocationEvents${fileLocation.key}">
	    				<h5>File Location Events</h5>		    							    				
    					#foreach($event in $fileLocation.fileLocationEvents)
							<div id="fileLocationEvent${event.key}">
								<h6>File Location Event ${event.key}</h6>		    					
	    						<dl>
		    						#event($event)
		    					
			                    	#if ($event.class.simpleName.startsWith("FileCopyEvent"))
		                    			<dt>Source:</dt>
		                    			<dd>File location $event.fileLocationSource.key</dd>
			                    	#elseif ($event.name == "IngestEvent")
		                    			<dt>Repository system:</dt>
		                    			<dd>$event.repositorySystem.name</dd>
			                		#end
			                	</dl>
			                </div>
	                	#end	    			        	    					
	    			</div>
	    		</div>
	    	#end			    				
		</div>		
	</div>
#end
