##Macros
#macro( eventbody $event )
    <tr>
        <td>Name</td>
        <td>$event.name</td>
	</tr>
	<tr>
		<td>Start</td>
		<td>#if ($event.unknownEventStart) Unknown #else ${date.format('yyyy-MM-dd hh:mm', $event.eventStart)} #end
    	</td>
	</tr>
	<tr>
		<td>End</td>
		<td>#if ($event.unknownEventEnd) Unknown #elseif ($event.eventEnd) ${date.format('yyyy-MM-dd hh:mm', $event.eventEnd)} #else None #end
    	</td>
	</tr>
	<tr>
		<td>Result</td>
		<td>#if ($event.success) Success #else Failure #end</td>
	</tr>
	<tr>
		<td>Performing agent</td>
		<td>#if ($event.unknownPerformingAgent) Unknown #elseif ($event.performingAgent) ${event.performingAgent.name} #else None #end</td>
	</tr>
	<tr>
		<td>Reporting agent</td>
		<td>$event.reportingAgent.name</td>
	</tr>
	<tr>
		<td>Requesting agent</td>
		<td>#if ($event.unknownRequestingAgent) Unknown #elseif ($event.requestingAgent) $event.requestingAgent.name #else None #end</td>
	</tr>
	#if ($event.message)
		<tr>
			<td>Message</td>
			<td><p>$event.message</p></td>
		</tr>	        					
	#end
#end

<div id="report">
    <ul id="localNav">
        <li><a href="#${reportId}">
            <span> Report  </span>
        </a></li>
    </ul>
	<div id="$reportId">
	    <fieldset>
            <legend><b>${reportName}</b></legend>
            <p><b>${reportDescription}</b></p>
	        <form action="${contextPath}/reports/${reportId}.html" method="get">
	            <table>
        	        <tbody>
        	            <tr>
        	               <td><label for="packageFilter">Package</label></td>
        	               <td><select id="packageFilter" name="packageKey">
        	                   #foreach ( $packageItem in ${packageList})
        	                        #if( $packageItem.key == $package.key )
        	                    <option selected="selected" value="$packageItem.key"> $packageItem.repository.id - $packageItem.packageId </option>
        	                        #else
        	                    <option value="$packageItem.key"> $packageItem.repository.id - $packageItem.packageId </option>
        	                        #end
        	                   #end
        	               </select></td>
        	            </tr>
        	        </tbody>
        	    </table>
        	    <input type="submit" class="button" value="refresh" style="float:right"/>
	        </form>
	        #if ($package)
	        	<h2>Package details</h2>
    	        <table id="packageDetails_table"  >
                    <tbody>	    			        
    			        <tr>
    				        <td>Repository</td>
    				        <td>$package.repository.id</td>
        				</tr>
    			        <tr>
    				        <td>Package Id</td>
    				        <td>$package.packageId</td>
        				</tr>
        				#if ($package.processInstanceId)
    			        <tr>
    				        <td>Process Instance</td>
    				        <td><a href="${contextPath}/processinstance/${package.processInstanceId}.html">$package.processInstanceId</a></td>
        				</tr>
				        #end        				
        				<tr>
        					<td>Canonical file count</td>
        					<td>${package.canonicalFiles.size()}</td>
				        </tr>        					
        			</tbody>
        		</table>
        		
        		<h2>Package Events</h2>
        		#foreach($event in $package.packageEvents)
	        		<h3>Event $event.key</h3>
	    	        <table id="packageEvent${event.key}_table"  >
	                    <tbody>
	                    	#eventbody($event)	    			        
	        			</tbody>	
			        </table>
			    #end
			    
			    <h2>File Locations</h2>
			    #foreach($fileLocation in $package.fileLocations)
			    	<h3>File Location $fileLocation.key</h3>
			    	<table id="fileLocation${fileLocation.key}">
			    		<tbody>
			    			#if (${fileLocation.class.simpleName.startsWith("ExternalFileLocation")})
			    				#if ($fileLocation.mediaType)
				    				<tr>
				    					<td>Media type</td>
				    					<td>$fileLocation.mediaType</td>
					    			</tr>
				    			#end
				    			#if ($fileLocation.externalIdentifier)
				    				<tr>				    					
				    					<td>Identifier</td>
				    					<td>$fileLocation.externalIdentifier.identifierType : $fileLocation.externalIdentifier.identifierValue</td>
				    				</tr>
			    				#end
			    			#else
			    				<tr>
			    					<td>Storage system</td>
			    					<td>$fileLocation.storageSystem.name</td>
				    			</tr>
			    			#end
			    			<tr>
			    				<td>Base path</td>
			    				<td>$fileLocation.basePath</td>
			    			</tr>
			    			<tr>
			    				<td>Managed</td>
			    				<td>$fileLocation.managed</td>
			    			</tr>
			    			<tr>
			    				<td>LC package structure</td>
			    				<td>$fileLocation.lCPackageStructure</td>
			    			</tr>
			    			<tr>
			    				<td>File instance count</td>
			    				<td>${fileLocation.fileInstances.size()}</td>			    				
			    			</tr>
		    			</tbody>
	    			</table>
	    			
	    			<h4>File Location Events</h4>
	    			#foreach ($event in $fileLocation.fileLocationEvents)
		        		<h5>Event $event.key</h5>
		    	        <table id="filelocationEvent${event.key}_table"  >
		                    <tbody>
		                    	#eventbody($event)
		                    	#if ($event.class.simpleName.startsWith("FileCopyEvent"))
		                    		<tr>
		                    			<td>Source</td>
		                    			<td>File location $event.fileLocationSource.key</td>
		                    		</tr>
		                    	#elseif ($event.name == "IngestEvent")
		                    		<tr>
		                    			<td>Repository system</td>
		                    			<td>$event.repositorySystem.name</td>
		                    		</tr>
	                    		#end	    			        
		        			</tbody>		        				
				        </table>	    				
			    	#end
    			#end					        	
	    	#end
		</fieldSet>	    		        			            
    </div>
</div>