/* RDC Deposit CSS Document */

* {margin: 0;
   padding: 0;}
   
body {
	text-align:center;
	background-color: #efefef;
	font: normal 1.2em/1em Verdana, Arial, Helvetica, sans-serif;
}
a#skip {
	position: absolute;
	top:-100px;
}
div#container {
	width: auto;
	margin: 0 auto;
	background: #fff;
	font-size: .8em;
	border: 0;
	text-align:left;
	padding: 0;
}
div#header {
	display: none;
}

/*************end topnav******************/
div#content {
	width: auto;
	padding: 1em;
	margin: 0;
	background-color: transparent;
	border: 0;
}
div#page_head {
	width: auto;
	height: auto;
	margin: 0;
	font:normal 0.9em/1em verdana, helvetica, sans-serif;
	background: transparent url(/media/images/ph_top.gif) top left repeat-x;
	text-align:left;
	padding: 0 0 2px 0;
}
div#page_head h1 {
	color: #900;
	padding: 0em 0 1em 0;
	margin: 0;
	font: bold 1.4em/1.1em Georgia, "Times New Roman", Times, serif;
	display: block;
	background: transparent url(/media/images/ph_bot.gif) bottom left repeat-x;
}
p {
	margin: 0 0 0 0;
	padding: 0.5em 0.5em 0.5em 1em;
	font: normal 0.85em/1.3em Verdana, Arial, Helvetica, sans-serif;
}

h3 {
	font-size: 1em;
	padding: 0 0 0 1em;
	color: #000;
	margin: 0;
}
h3.red {
	color: #900;
	font-size: 0.9em;
}
h2 {
	font-size: 1em;
	padding: 1em 0.5em 0.5em 0.5em;
	margin: 0;
	color: #000;
}
h1 {
	padding: 0.5em;
	margin-bottom: 1em;
	color: #798196;
	font: normal 3.3em/3.5em Georgia, "Times New Roman", Times, serif;
}
a:link {color: #369;}
a:visited {color: #369}
a:hover {color: #369}
a:active {color: #369}

/********** Top navigation *************/
div#nav {
	display: none;
}

/*****************definition list and unordered list ****************/
dl{
	margin-bottom: 1em;
	margin-left: 1em;
	margin-top: 1em;
}

dt{
	color: #000;
	font-weight: bold;
}

dd{
	margin-bottom: .3em;
	text-indent: .5em;
}

ul {
	padding: 1em 1em 1em 1em;
	margin: 0 0 0 0;
}
ul li {
	list-style-type: none;
	background: transparent;
	font: normal 0.85em/1.5em verdana, helvetica, sans-serif;
	color: #333;
	padding: 0em 0 0em 0; 
	margin: 0 0 0 0;
}
ul li a {
	color: #369;
}

ol {
	padding: 1em 1em 1em 0;
	margin: 0 0 0 1.75em;
}
ol li {
	list-style-type: decimal;
	background: transparent;
	font: normal 0.85em/1.5em verdana, helvetica, sans-serif;
	color: #333;
	padding: 0em 0 0em 0; 
	margin: 0 0 0 0;
}
ol li a {
	color: #369;
}
/***********end definition list and unordered list *************************/
div#content form {
	width: auto;
	margin: 1em 0 0 0;
	padding: 0;
}
div#content form fieldset {
	width: auto;
	margin: 0;
	padding: 0;
	border: 0;
}
div#content form fieldset#submit {
	width: auto;
	margin: 0 auto 0 0;
	padding: 0;
	border: 0;
}
div#content form fieldset label {
	font: bold 1.0em/1.3em Arial, Helvetica, sans-serif;
	margin: 1em auto 1em 0;
}
div#content form fieldset label span {
	font: normal 0.9em/1.3em Arial, Helvetica, sans-serif;
}
div#content form fieldset input {
	width: 40em;
	font: normal 1.0em/1.3em Arial, Helvetica, sans-serif;
	margin: 0 auto 1em 0;
}
div#content form fieldset input.short {
	width: 9.7em;
}
div#content form fieldset select {
	width: 10em;
	font: normal 1.0em/1.3em Arial, Helvetica, sans-serif;
	margin: 0 auto 1em 0;
}
div#content form fieldset input.submit {
	width: auto;
	background-color: #fff;
	font-weight: 900;
	font: bold 1.1em/1.1em Verdana, Arial, Helvetica, sans-serif;
	color: #f60;
	text-transform: uppercase;
	margin: 0;
	border: 1px solid #f60;
	padding: 0.3em;
}
table {
	width: auto;
	height: auto;
	margin: 1em auto 1em 0;
	border-collapse: collapse;
	border: 1px solid #e5e5e5;
	font: normal 90%/100% verdana, helvetica, sans-serif;
	text-align:left;
	padding: 0.5em;
	background-color: #f7f7f7;
}
div#content div#bottom_nav {
	width:auto;
	margin: 1em 0 0 0;
	padding: 1em 1em 1em 1em;
	background: #fff url(/media/images/tabledot.gif) top left repeat-x;
}
div#content div#bottom_nav form {
	width: 60em;
	margin: 0 0 0 0;
	padding: 0;
}
div#content div#bottom_nav form fieldset#submit input.submit {
	width: auto;
	margin: 0;
	padding: 0.3em;
	background-color: #fff;
	font-weight: 900;
	font: bold 0.9em/1.1em Verdana, Arial, Helvetica, sans-serif;
	color: #f60;
	text-transform: uppercase;
	border: 1px solid #f60;
}
/********** Footer *************/
div#footer {
	display: none;
}
div#footlist {
	display: none;
}