/* RDC Deposit CSS Document */

* {margin: 0;
   padding: 0;}
   
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	background-color: #efefef;
}
a#skip {
	position: absolute;
	top:-100px;
}
#container {
	width: 72em;
	margin: 0 auto;
	background: #fff;
	font-size: .8em;
	border: 0;
	text-align:left;
	padding: 0;
}
#header {
	margin: 0;
	padding: 0;
	border: 0;
	height: 5.0em;
	background-color: #333;
	border-top: 0.05em solid #c00;
}
/***************** tonav ********/
#header ul {
	padding: 0em 0em 0.0em 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	
	margin: 0 0 0 0;
}
#header ul li {
	padding: 0 0 0 0;
	display: inline;
	margin: 0;
	list-style: none;
	color: #6cf;
	font: normal 0.8em/1em Verdana, Arial, Helvetica, sans-serif;
}
#header ul li#logo {
	display: block;
	width: 41em;
	height: 7em;
	background: transparent url(/bagger/images/bagger_logo.gif) top left no-repeat;
}
#header ul li#logo a {
	display: block;
	width: 41em;
	height: 7em;
	margin: 0;
	padding: 0;
}
#header ul li#welcome {
	position: relative;
	top: -3.7em;
	left: 50.5em;
}
#header ul li#log {
	position: relative;
	top: -3.7em;
	left: 51.3em;
}
#header ul li#info {
	position: relative;
	top: -3.7em;
	left: 52.5em;
}
#header ul li#contact {
	position: relative;
	top: -3.7em;
	left: 54.5em;
}
#header a, #header a:link, #header a:visited {
	border: 0;
	padding: 0 0.5em 0 0.5em;
	margin: 2em 0 2.5em 0;
	color: #999;
	text-decoration: underline;
}

#header a:hover, #header a:active, #header a:focus {
	border: 0;
	padding: 0 0.5em 0 0.5em;
	color: #999;
	margin: 2em 0 2.5em 0;
	text-decoration: underline;
}
/*************end topnav******************/
#content {
	width: auto;
	padding: 1em;
	margin: 1em 1.7em 1em 1.7em;
	background-color: #f7f7f7;
	border: 0.1em solid #ccc;
}
#page_head {
	width: auto;
	height: auto;
	margin: 1em 1.7em 1em 1.7em;
	font:normal 90%/100% verdana, helvetica, sans-serif;
	background: transparent url(/bagger/images/ph_top.gif) top left repeat-x;
	text-align:left;
	padding: 0 0 2px 0;
}
#page_head h1 {
	color: #900;
	padding: 0em 0 1em 1em;
	margin: 0;
	font: bold 1.4em/1.1em Georgia, "Times New Roman", Times, serif;
	display: block;
	background: transparent url(/bagger/images/ph_bot.gif) bottom left repeat-x;
}
p {
	margin: 0 0 0 0;
	padding: 0.5em 0.5em 0.5em 1em;
	font: normal 0.85em/1.3em Verdana, Arial, Helvetica, sans-serif;
}

h3 {
	font-size: 1em;
	padding: 0 0 0 1em;
	color: #000;
	margin: 0;
}
h3.red {
	color: #900;
	font-size: 0.9em;
}
h2 {
	font-size: 1em;
	padding: 1em 0.5em 0.5em 0.5em;
	margin: 0;
	color: #000;
}
h1 {
	padding: 0.5em;
	margin-bottom: 1em;
	color: #798196;
	font: normal 3.3em/3.5em Georgia, "Times New Roman", Times, serif;
}
a:link {color: #369;}
a:visited {color: #369}
a:hover {color: #369}
a:active {color: #369}

/********** Top navigation *************/
#nav {
	height: 2.7em;
	margin: 0;
	padding: 0px 0 0 0;
	/*background: transparent url(/bagger/images/nav_back.gif) top left repeat-x;*/
	background: #5D86AC;
}
#navlist {
	height: auto;
	padding: 0em 0em 0.0em 1.5em;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	
	/*position: relative;
	top: -10px;*/
	margin: 0 0 0 0;
	background: #5D86AC;
}
#navlist li {
	padding: 0px 1px 0 2px;
	display: inline;
	margin: 0;
	list-style: none;
	background: transparent;
	color: #bfcedd;
	/*background: transparent url(/bagger/images/nav_left.gif) 0 -1.9em no-repeat;*/
	position: relative;
	font: normal 0.9em/1em Verdana, Arial, Helvetica, sans-serif;
}
#navlist li#home {
	top: 0.7em;
}
#navlist li#net_transfer {
	top: 0.7em;
}
#navlist li#ship_transfer {
	top: 0.7em;
}
#navlist li#main {
	top: 0.7em;
}
#navlist li#admin {
	top: 0.7em;
}
#navlist li#contactadmin {
	top: 0.7em;
}
#navlist a, #navlist a:link, #navlist a:visited {
	border: 0;
	padding: 0 0.5em 0 0.5em;
	margin: 2em 0 2.5em 0;
	height: 2.7em;
	color: #bfcedd;
	vertical-align: top;
	text-decoration: none;
	font-weight: bold;
}
#navlist a.on, #navlist a.on:link, #navlist a.on:visited {
	color: #fff;
	font-weight: bold;
}
#navlist a:hover, #navlist a:active, #navlist a:focus {
	border: 0;
	padding: 0 0.5em 0 0.5em;
	color: #bfcedd;
	height: 2.7em;
	margin: 2em 0 2.5em 0;
	vertical-align: top;
	text-decoration: none;
	font-weight: bold;
}
/*****************definition list and unordered list ****************/
dl{
	margin-bottom: 1em;
	margin-left: 1em;
	margin-top: 1em;
}

dt{
	color: #000;
	font-weight: bold;
}

dd{
	margin-bottom: .3em;
	text-indent: .5em;
}

ul {
	padding: 1em 1em 1em 1em;
	margin: 0 0 0 0;
}
ul li {
	list-style-type: none;
	background: transparent;
	font: normal 0.85em/1.5em verdana, helvetica, sans-serif;
	color: #333;
	padding: 0em 0 0em 0; 
	margin: 0 0 0 0;
}
ul li a {
	color: #369;
}

ol {
	padding: 1em 1em 1em 0;
	margin: 0 0 0 1.75em;
}
ol li {
	list-style-type: decimal;
	background: transparent;
	font: normal 0.85em/1.5em verdana, helvetica, sans-serif;
	color: #333;
	padding: 0em 0 0em 0; 
	margin: 0 0 0 0;
}
ol li a {
	color: #369;
}
/***********end definition list and unordered list *************************/

/********** Footer *************/
#footer {
	clear: both;
	height: 5em;
	background:#ccc;
	border-top: 0.1em solid #c00;
	padding: 1em 0 0 0;
	color: #fff;
	font-size: .9em;
	margin: 0;
}
#footlist {

	padding: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	
	margin: 0 0 0 1em;
}
#footlist li {
	padding: 0px 1px 0px 2px;
	display: inline;
	margin: 0;
	list-style: none;
	/*position: relative;*/
	font: normal 0.9em/1em Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	background: transparent;
	/*background: transparent url(/bagger/images/foot_left.gif) top left no-repeat;*/
}
#footlist a, #footlist a:link, #footlist a:visited {
	border: 0;
	padding: 1em 0.5em 1em 0.5em;
	margin: 0 0 2.5em 0;
	color: #666;
	text-decoration: underline;
	font-weight: 100;
	vertical-align: top;
}

#footlist a:hover, #footlist a:active, #footlist a:focus {
	border: 0;
	padding: 1em 0.5em 1em 0.5em;
	color: #666;
	text-decoration: underline;
	font-weight: 100;
	margin: 0 0 2.5em 0;
	vertical-align: top;
}   