.light { background:#FFF; color:#111; font:10pt Verdana, Arial, sans-serif; }
.light a, a.light { color:#46C; outline:0; }
.light a:visited, a.light:visited { color:#C44; }
.light a:hover, a.light:hover, .light a:focus, a.light:focus, .light a:active, a.light:active { color:#000; } /* order lvhfa */
.light fieldset { border:1px solid #CCC; }
.light legend { color:#555; font:.8em Verdana, sans-serif; }
.light button, button.light, .light input, input.light { padding:2px 4px; font:.9em Consolas, Verdana, sans-serif; }
.light textarea, textarea.light { padding:2px 4px; font:.9em Consolas, Courier New, sans-serif; width:20em; height:5em; overflow:auto; }
.light select, select.light { padding:3px 0 3px 4px; font:.9em Verdana, sans-serif; }
.light label { font-weight:bold; }
