/* light.toolbar.css
 *
 *  Written:  05/09/07 4:37:52 PM
 *  Revision: 1.0.0
 *
 *
 * Credits:
 *  Miksago: Full Coding.
 */

.light .ui-toolbar {
  position:relative;
  padding:0px;
  margin:0px;
}
.light .ui-toolbar ul {
  background:#F3F3F3;
  padding:0px;
  margin:0px;
}
  .light .ui-toolbar ul li {
    list-style-type: none;
  }
  .light .ui-toolbar ul.ui-toolbar-horiz {
    border-top:1px solid #DDD;
    border-bottom: 1px solid #EEE;
  }
  .light .ui-toolbar ul.ui-toolbar-horiz li {
    display:inline;
  }
  .light .ui-toolbar ul.ui-toolbar-vert {
    border-left: 1px solid #DDD;
    border-right: 1px solid #EEE;
  }
  .light .ui-toolbar ul.ui-toolbar-vert li {
    display:block;
  }
  /* This hides the text on buttons in a icon only toolbar */
  .light .ui-toolbar ul.ui-toolbar-icons li .ui-toolbar-btn-desc {
    display:none;
  }
  /* This hides the icon on buttons in a text only toolbar */
  .light .ui-toolbar ul.ui-toolbar-text li .ui-toolbar-btn-icon {
    display:none;
  }
  /* This is just for icon sizes, not really needed, but it's there so if icon sizes are defined.. */
  .light .ui-toolbar ul li.ui-toolbar-btn-icon-sixteen .ui-toolbar-btn-icon {
    width:16px; height:16px;
    overflow:hidden;
    padding:2px;
    padding-left:16px;
    background:no-repeat;
    background-position:50% 50%;
  }
  
/************************************************
 * Factory Elements:
 *  - These are different kinds of items that
 *    can be in a toolbar.
 *
 *  Includes:
 *    @ ui-toolbar-btn
 *        toolbar buttons.
 *    @ ui-toolbar-sep
 *        toolbar separators.
 *
*/



/************************************************
 * UI-TOOLBAR-BTN
 *
 *  STRUCTURE:
 *    <li class="ui-toolbar-btn">
 *      <span class="ui-toolbar-btn-left"><i>&#160;</i></span>
 *      <span class="ui-toolbar-btn-center">
 *        <button><span>{{text}}</span></button>
 *      </span>
 *      <span class="ui-toolbar-btn-right"><i>&#160;</i></span>
 *    </li>
 *
 ************************************************/


  .light .ui-toolbar ul li.ui-toolbar-btn {
    cursor:pointer;
    white-space: nowrap;
  }
    .light .ui-toolbar ul.ui-toolbar-horiz li.ui-toolbar-btn {
      padding: 0.5em 0.1em;
      line-height:2.2em;
      vertical-align: middle;
    }
    .light .ui-toolbar ul.ui-toolbar-vert li.ui-toolbar-btn {
      padding: 0.3em 0.1em;
      line-height:1.6em;
      vertical-align: middle;
    }
      .light .ui-toolbar ul li.ui-toolbar-btn button {
        vertical-align: middle;
        background:transparent;
        border:0px none;
        cursor:pointer;
        overflow:visible;
        -moz-outline:0 none;
        outline:0 none;
        padding:0px;
      }
        .light .ui-toolbar ul li.ui-toolbar-btn button span {
          vertical-align: middle;
        }
  
  .light .ui-toolbar ul li.ui-toolbar-btn-over{
    background:#FCFCFC;
  }
  .light .ui-toolbar ul li.ui-toolbar-btn-active {
    background:#FCFCFC;
  }
  
  .light .ui-toolbar ul li.ui-toolbar-btn-disabled {
    opacity:0.2;
  }

/************************************************
 * UI-TOOLBAR-BTN
 *
 *  STRUCTURE:
 *    <li class="ui-toolbar-sep">
 *      <span>
 *        &nbsp;
 *      </span>
 *    </li>
 *
 ************************************************/
  .light .ui-toolbar ul.ui-toolbar-horiz li.ui-toolbar-sep {
    border-left:1px solid #EEE;
    border-right:1px solid #DDD;
  }
  .light .ui-toolbar ul.ui-toolbar-vert li.ui-toolbar-sep {
    border-top:1px solid #DDD;
    border-bottom:1px solid #EEE;
  }

/************************************************
 * UI-TOOLBAR-SLIDER
 *
 *  STRUCTURE:
 *    <li class="ui-toolbar-slider">
 *      <div class="ui-toolbar-slider-track ui-slider-track">
 *        <div class="ui-slider-handle"></div>
 *      </div>
 *   </li>
 *
 ************************************************/

.light .ui-toolbar ul li.ui-toolbar-slider .ui-toolbar-slider-track {
  height: 20px!important;
}

/************************************************
 * UI-TOOLBAR-RADIOGRP
 *
 *  STRUCTURE:
 *    <li class="ui-toolbar-radioGrp">
 *      <ul class="DIRECTION">
 *        <li class="ui-toolbar-btn">
 *          <span class="ui-toolbar-btn-left"><i>&#160;</i></span>
 *          <span class="ui-toolbar-btn-center">
 *            <button><span>{{text}}</span></button>
 *          </span>
 *          <span class="ui-toolbar-btn-right"><i>&#160;</i></span>
 *        </li>
 *      </ul>
 *    </li>
 *      
 *
 ************************************************/

  .light .ui-toolbar ul.ui-toolbar-horiz li.ui-toolbar-radioGrp,
  .light .ui-toolbar ul.ui-toolbar-horiz li.ui-toolbar-radioGrp ul,
  .light .ui-toolbar ul.ui-toolbar-horiz li.ui-toolbar-radioGrp ul li{
    display:inline;
  }
  .light .ui-toolbar ul.ui-toolbar-horiz li.ui-toolbar-radioGrp ul {
    margin:0px;
    padding:0px;
  }

  .light .ui-toolbar ul.ui-toolbar-vert li.ui-toolbar-radioGrp,
  .light .ui-toolbar ul.ui-toolbar-vert li.ui-toolbar-radioGrp ul,
  .light .ui-toolbar ul.ui-toolbar-vert li.ui-toolbar-radioGrp ul li{
    display:block;
  }
  .light .ui-toolbar ul.ui-toolbar-vert li.ui-toolbar-radioGrp ul {
    margin:0px;
    padding:0px;
  }
  
  .ui-toolbar ul li.ui-toolbar-input .ui-toolbar-input-left{
    border-left:1px solid #EEE;
    border-right:1px solid #DDD;
    width:0px;
    padding:1px;
    margin:0px;
    overflow:hidden;
    display:inline;
  }
  .ui-toolbar ul li.ui-toolbar-input .ui-toolbar-input-left i {
    display:none;
  }
  .ui-toolbar ul li.ui-toolbar-input .ui-toolbar-input-center{
    border-top:1px solid #DDD;
    padding:0px;
    margin:0px;
    display:inline;
  }
  .ui-toolbar ul li.ui-toolbar-input input{
    display:inline;
    padding:2px 4px;
    margin:0px;
    border:1px solid #333;
    background:#fff;
  }
/* END OF FILE */