/* Main Light Style Sheet for jQuery UI Datepicker */
.light #datepicker_div, .light .datepicker_inline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background: #FFF;
	width: 185px;
}
.light #datepicker_div {
	display: none;
	border: 1px solid #888;
	z-index: 10;
}
.light .datepicker_inline {
	float: left;
	display: block;
	border: 0;
}
.light .datepicker_dialog {
	padding: 5px !important;
	border: 4px ridge #DDD !important;
}
.light button.datepicker_trigger {
	width: 25px;
}
.light img.datepicker_trigger {
	margin: 2px;
	vertical-align: middle;
}
.light .datepicker_prompt {
	float: left;
	padding: 2px;
	background: #FFF;
	color: #111;
}
*html .light .datepicker_prompt {
	width: 185px;
}
.light .datepicker_control, .light .datepicker_links, .light .datepicker_header, .light .datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #111;
}
.light .datepicker_control {
	background: #FFF;
	padding: 2px 0px;
}
.light .datepicker_links {
	background: #EEE;
	padding: 2px 0px;
}
.light .datepicker_control, .light .datepicker_links {
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
}
.light .datepicker_links label {
	padding: 2px 5px;
	color: #888;
}
.light .datepicker_clear, .light .datepicker_prev {
	float: left;
	width: 34%;
}
.light .datepicker_current {
	float: left;
	width: 30%;
	text-align: center;
}
.light .datepicker_close, .light .datepicker_next {
	float: right;
	width: 34%;
	text-align: right;
}
.light .datepicker_header {
	padding: 1px 0 3px;
	background: #DDD;
	text-align: center;
	font-weight: bold;
	height: 1.3em;
}
.light .datepicker_header select {
	background: #DDD;
	color: #111;
	border: 0px;
	font-weight: bold;
}
.light .datepicker {
	background: #FFF;
	text-align: center;
	font-size: 100%;
}
.light .datepicker a {
	display: block;
	width: 100%;
}
.light .datepicker .datepicker_titleRow {
	background: #CCC;
}
.light .datepicker .datepicker_daysRow {
	background: #FFF;
	color: #666;
}
.light .datepicker_weekCol {
	background: #CCC;
	color: #111;
}
.light .datepicker .datepicker_daysCell {
	color: #111;
	border: 1px solid #CCC;
}
.light #datepicker .datepicker_daysCell a {
	display: block;
}
.light .datepicker .datepicker_weekEndCell {
	background: #DDD;
}
.light .datepicker .datepicker_daysCellOver {
	background: #CCC;
	border: 1px solid #777;
}
.light .datepicker .datepicker_unselectable {
	color: #888;
}
.light .datepicker_today {
	background: #FCC !important;
}
.light .datepicker_currentDay {
	background: #999 !important;
}
.light #datepicker_div a, .light .datepicker_inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #111;
}
.light .datepicker_inline .datepicker_links a {
	padding: 0 5px !important;
}
.light .datepicker_control a, .light .datepicker_links a {
	padding: 2px 5px !important;
	color: #111 !important;
}
.light .datepicker_titleRow a {
	color: #111 !important;
}
.light .datepicker_control a: hover {
	color: #333 !important;
}
.light .datepicker_links a: hover, .light .datepicker_titleRow a: hover {
	background: #FFF !important;
	color: #333 !important;
}
.light .datepicker_multi .datepicker {
	border: 1px solid #DDD;
}
.light .datepicker_oneMonth {
	float: left;
	width: 185px;
}
.light .datepicker_newRow {
	clear: left;
}
.light .datepicker_cover {
	display: none;
	display/**/: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 193px;
	height: 200px;
}
