<html>
	<body>
        <div id="header">
            {% block header %}
                {% if user.is_authenticated %}
                    <p>You are logged in as <a href="{% url user_url user.username %}">{{ user.username }}</a>.  <a href="{% url logout_url %}">Log out</a></p>
                {% else %}
                    <p>You are not logged in.  <a href="{% url login_url %}">Log in</a></p>
                {% endif %}
            {% endblock %}
        </div>
        {% if messages %}  
            <div id="messages">  
                {% for message in messages %}  
                    <p>{{ message }}</p>  
                {% endfor %}  
            </div>  
        {% endif %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
	</body>
</html>