{% extends "transfer.html" %}

{% block transfer_content %}
    {{ block.supper }}
    <dt>Ship date</dt><dd>{{ transfer.ship_date }}</dd>
    <dt>Ship method</dt><dd>{{ transfer.ship_method }}</dd>
    <dt>Tracking number</dt><dd>{{ transfer.ship_tracking_number }}</dd>
    <dt>Media type</dt><dd>{{ transfer.get_media_type_display }}</dd>
    <dt>Media identifiers</dt><dd>{{ transfer.media_identifiers }}</dd>
    <dt>Number of media shipped</dt><dd>{{ transfer.number_media_shipped }}</dd>
    <dt>Additional equipment</dt><dd>{{ transfer.addl_equipment }}</dd>
{% endblock %}