{% extends "base.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Transfer</th>
            <th>Project</th>
            <th>User</th>
            <th>Transfer type</th>
            <th>Initiated</th>
            <th>Package ids</th>
        </tr>
    {% for transfer in transfers %}
    <tr>
        <td><a href="{{ transfer.get_absolute_url }}">{{ transfer.id }}</a></td>
        <td><a href="{{ transfer.project.get_absolute_url }}">{{ transfer.project }}</a></td>
        <td><a href="{{ transfer.user.get_absolute_url }}">{{ transfer.user }}</a></td>
        <td>{{ transfer.transfer_type }}</td>
        <td>{{ transfer.create_timestamp }}</td>
        <td>{{ transfer.package_ids }}</td>        
    </tr>
    {% endfor %}

</table>

{% endblock %}