/* Main Dark Style Sheet for jQuery UI Datepicker */
.dark #datepicker_div, .dark .datepicker_inline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background: #222;
	width: 185px;
}
.dark #datepicker_div {
	display: none;
	border: 1px solid #07F;
	z-index: 10;
}
.dark .datepicker_inline {
	float: left;
	display: block;
	border: 0;
}
.dark .datepicker_dialog {
	padding: 5px !important;
	border: 4px ridge #222 !important;
}
.dark button.datepicker_trigger {
	width: 25px;
}
.dark img.datepicker_trigger {
	margin: 2px;
	vertical-align: middle;
}
.dark .datepicker_prompt {
	float: left;
	padding: 2px;
	background: #222;
	color: snow;
}
*html .dark .datepicker_prompt {
	width: 185px;
}
.dark .datepicker_control, .dark .datepicker_links, .dark .datepicker_header, .dark .datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #111;
}
.dark .datepicker_control {
	background: #469;
	padding: 2px 0px;
}
.dark .datepicker_links {
	background: #347;
	padding: 2px 0px;
}
.dark .datepicker_control, .dark .datepicker_links {
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
}
.dark .datepicker_links label {
	padding: 2px 5px;
	color: #888;
}
.dark .datepicker_clear, .dark .datepicker_prev {
	float: left;
	width: 34%;
}
.dark .datepicker_current {
	float: left;
	width: 30%;
	text-align: center;
}
.dark .datepicker_close, .dark .datepicker_next {
	float: right;
	width: 34%;
	text-align: right;
}
.dark .datepicker_header {
	padding: 1px 0 3px;
	background: #944;
	text-align: center;
	font-weight: bold;
	height: 1.3em;
}
.dark .datepicker_header select {
	background: #944;
	color: snow;
	border: 0px;
	font-weight: bold;
}
.dark .datepicker {
	background: #333;
	text-align: center;
	font-size: 100%;
}
.dark .datepicker a {
	display: block;
	width: 100%;
}
.dark .datepicker .datepicker_titleRow {
	background: #733;
	color: snow;
}
.dark .datepicker .datepicker_daysRow {
	background: #111;
	color: #AAA;
}
.dark .datepicker_weekCol {
	background: #733;
	color: #FFF;
}
.dark .datepicker .datepicker_daysCell {
	color: snow;
	border: 1px solid #222;
}
.dark #datepicker .datepicker_daysCell a {
	display: block;
}
.dark .datepicker .datepicker_weekEndCell {
	background: #444;
}
.dark .datepicker .datepicker_daysCellOver {
	background: #111;
	border: 1px solid #999;
}
.dark .datepicker .datepicker_unselectable {
	color: #888;
}
.dark .datepicker_today {
	background: #944 !important;
}
.dark .datepicker_currentDay {
	background: #733 !important;
}
.dark #datepicker_div a, .dark .datepicker_inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: snow;
}
.dark .datepicker_inline .datepicker_links a {
	padding: 0 5px !important;
}
.dark .datepicker_control a, .dark .datepicker_links a {
	padding: 2px 5px !important;
	color: snow !important;
}
.dark .datepicker_titleRow a {
	color: snow !important;
}
.dark .datepicker_control a: hover {
	color: #ccc !important;
}
.dark .datepicker_links a: hover, .dark .datepicker_titleRow a: hover {
	background: #111 !important;
	color: #CCC !important;
}
.dark .datepicker_multi .datepicker {
	border: 1px solid #944;
}
.dark .datepicker_oneMonth {
	float: left;
	width: 185px;
}
.dark .datepicker_newRow {
	clear: left;
}
.dark .datepicker_cover {
	display: none;
	display/**/: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 193px;
	height: 200px;
}
