body.warm { font:10pt Verdana; background:#FFF; color:#111; }

.warm .ui-modal .top.pane .ui-modal-buttons {
  height: 15px;
  width: 15px;
  background-color: #f90;
  text-align: center;
}
.warm .ui-modal .top.pane .ui-modal-buttons a:hover {
  color: #f00;
  cursor: pointer;
}

.warm .ui-modal .top.pane {
  background-color: #eee;
  padding-left: 15px;
}
.warm .ui-modal .bottom.pane {
  height: 15px;
  background-color: #eee;
}
.warm .ui-modal .bottom.pane .ui-modal-resize-se {
  height: 15px;
  width: 15px;
  background-color: #f90;
  text-align: center;
}
.warm .ui-modal .middle.pane .left.pane {
  margin-left: 0px;
  width: 15px;
  background-color: #eee;
  height: 100%;
  float: left;
}

.warm .ui-modal .middle.pane .center.pane {
}