<html>
	<body>
		<h1>Completed Job Listener</h1>
		#if($listener.started)
			<p>Listener is started.
			#if($canStart)
				  &nbsp;&nbsp;<a href="?stop=true">Stop</a> the listener.
			#end
			</p>
		#else
			<p>Listener is stopped.
			#if($canStart)
				&nbsp;&nbsp;<a href="?start=true">Start</a> the listener.</p>
			#end		
		#end
	</body>
</html>