<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
	<filter>
		<filter-name>hibernatesessionrequestfilter</filter-name>
		<filter-class>gov.loc.repository.transfer.ui.filters.HibernateSessionRequestFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>hibernatesessionrequestfilter</filter-name>
		<url-pattern>/taskinstance/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>jbpmcontextrequestfilter</filter-name>
		<filter-class>gov.loc.repository.transfer.ui.filters.JbpmContextRequestFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>jbpmcontextrequestfilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>consoleapp</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
		    <param-name>contextConfigLocation</param-name>
		    <param-value>/WEB-INF/context-*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>consoleapp</servlet-name>
		<url-pattern>*.html</url-pattern>				
	</servlet-mapping>
 
  <!-- jBPM DeployServlet -->
  <servlet>
    <servlet-name>ProcessUploadServlet</servlet-name>
    <servlet-class>
      org.jbpm.web.ProcessUploadServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessUploadServlet</servlet-name>
    <!-- URL used by GPD -->
    <!-- GPD expects just a piece of text as a reply -->
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessUploadServlet</servlet-name>
    <url-pattern>/uploadDefinition</url-pattern>
  </servlet-mapping>

	<security-role>
    	<role-name>participant</role-name>
	</security-role>
	<security-role>
    	<role-name>administrator</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
	      <web-resource-name>participants</web-resource-name>
    	  <url-pattern>/login/login.html</url-pattern>    	      	  
 	      <http-method>GET</http-method>
	    </web-resource-collection>
    	<auth-constraint>
	      <role-name>participant</role-name>
	    </auth-constraint>
	</security-constraint>

	<login-config>
    	<auth-method>FORM</auth-method>
    	<realm-name>UserRealm</realm-name>
	    <form-login-config>
    		<form-login-page>/login/login_form.html</form-login-page>
		    <form-error-page>/login/login_error.html</form-error-page>
    	</form-login-config>
	</login-config>		
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!--<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.html</location>
	</error-page>
	-->
</web-app>
