/* tango: jQuery UI Theme based on 'Tango Desktop Project' color scheme */
/* http://tango.freedesktop.org/Tango_Desktop_Project */

body.tango { font:11pt Verdana; background:#FFF; color:#111; }

.tango .ui-tree-nodes {
    position:relative;
    list-style: none;
    margin:0;
    padding:0;
    margin-left:0;
    padding-left:0.9em;
}

.tango .ui-tree-node {
    clear: left;
    margin:0;
    padding:0;
    cursor: default;
}

.tango .ui-tree-node-button {
    border: 1px solid #CCC;
    padding-left:1px;
    color: #666;
    font:7pt Courier New,monospace;
    margin-top: 0.5em;
    position: absolute;
    left: 0.2em;
    width: 0.7em;
    height: 0.8em;
    line-height: 0.8em;
    text-decoration: none;
}

.tango .ui-tree-node-icon {
    display: block;
    width: 1em;
    height: 1em;
    float: left;
    background: center no-repeat url(../../images/16x16/text-x-preview.png);
}

.tango .ui-tree-node-text {
    text-decoration:none;
    color:#222;
    margin-left: 0.1em;
    padding:0 .1em; 
    cursor: default;
}

.tango .ui-tree-node-moving .ui-tree-node-icon {
    background: center no-repeat url(../../images/16x16/stock_new.png);
}

.tango .ui-tree-node-collapsed > .ui-tree-node-icon {
    background: center no-repeat url(../../images/16x16/folder.png);
}

.tango .ui-tree-node-expanded > .ui-tree-node-button {
    background: #EEE;
    display:block;
}

.tango .ui-tree-node-expanded > .ui-tree-node-icon {
    background: center no-repeat url(../../images/16x16/folder-open.png);
}

.tango .ui-tree-node-selected > .ui-tree-node-button {
    background: #e2ecf5;
}

.tango .ui-tree-node-selected > .ui-tree-node-text {
    background: #e2ecf5;
}

.tango .ui-tree-active .ui-tree-node-selected > .ui-tree-node-button {
    background: #82afdf;
}

.tango .ui-tree-active .ui-tree-node-selected > .ui-tree-node-text {
    background: #82afdf;
}

.tango .ui-tree-active .ui-tree-node-moving > .ui-tree-node-button {
    background: #7ad214;
}

.tango .ui-tree-active .ui-tree-node-moving > .ui-tree-node-text {
    background: #7ad214;
}

.tango .ui-tree-node-selected > .ui-tree-node-text {
    outline: none !important;
}