<div id="report">
	<div id="details">
		<h2>Details</h2>
		<dl>
			<dt>Name:</dt>
			<dd>${reportName}</dd>
			<dt>Description:</dt>
			<dd>${reportDescription}</dd>
		</dl>
	</div>
	#parse( "${reportId}.vm" )
</div>