<div id="tasks">
    <ul id="localNav">
        <li><a href="#systemProcesses">
            <span>System Processes</span>
        </a></li>
        <li><a href="#vitalStatistics">
            <span>Vital Statistics </span>
        </a></li>
        <li><a href="#systemInfo">
            <span>System Info </span>
        </a></li>
    </ul>
	<div id="systemProcesses">
		<h2>System Processes</h2>
        <fieldset>
            <legend><b>A Summary of System Processes</b></legend>
	        <table id="systemProcesses_table" class="tablesorter pageable"  >
	            <thead>
	                <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tfoot><tr>
                        <th>Name</th>
                </tr></tfoot>
                <tbody>
			        <tr>
				        <td><a href="${contextPath}/admin/servicerequestbroker.html">
				            <b>Service Request Broker</b>
				        </a><p>
				            Brokers requests to remote services.				            
				        </p>
				        </td>
				    </tr>					
			        <tr>
				        <td><a href="${contextPath}/admin/completedrequestlistener.html">
				            <b>Completed Service Request Listener</b>
				        </a><p>
				            Listens for messages from remote services to indicate that service requests are completed.				            
				        </p>
				        </td>
				    </tr>					
			    </tbody>
		    </table>
		</fieldset>
	</div>
   		
   	<div id="vitalStatistics">
        <table style="height:300px;width:100%">
            <tbody valign="top"><tr>
                <td><fieldset>
                    <legend><b>Memory</b></legend>
                    <img style="float:left;" src="http://chart.apis.google.com/chart?cht=bhs&chs=200x50&chd=t:${totalMemory}|${maxMemory}&chco=4d89f9,c6d9fd&chbh=20&chds=0,${maxMemory}"/>
                    <ul class="homeNav">
                        <li>
                            <label for="maxMemory">Max Alloted Memory:</label>
                            <span id="maxMemory">${maxMemory}</span><br/>
                        </li>
                        <li>
                            <label for="totalMemory">Total Memory In Use:</label>
                            <span id="totalMemory">${totalMemory}</span><br/>
                        </li>
                        <li>
                            <label for="FreeMemory">Free Memory:</label>
                            <span id="Free Memory">${freeMemory}</span><br/></li>
                    </ul>
                </fieldset><hr/></td>
                </tr><tr>
                <td><fieldset>
                    <legend><b>Database Connections</b></legend>
                    <img style="float:left;" src="http://chart.apis.google.com/chart?cht=p&chd=t:25,25,25,25&chs=250x100&chl=AMQ|JBPM|PackageDB|NFS" />
                </fieldset><hr/></td>
            </tr></tbody>
        </table>
    </div>
		
	<div id="systemInfo">
		<h2>Static System Information</h2>
        <fieldset>
            <legend><b>A Summary of Static System Information</b></legend>
	        <table id="systemInfo_table" class="tablesorter pageable"  >
	            <thead>
	                <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tfoot><tr>
                        <th>Name</th>
                        <th>Value</th>
                </tr></tfoot>
                <tbody>                
			        #foreach($info in ${systemInfo.keySet()})
			        <tr id="systemInfo_${info}"  >
				        <td>${info}</td>
				        <td ><div style="word-wrap:break-word;width:200px;">
				            ${systemInfo.get("$info")}
				        </div></td>     
				    </tr>					
			        #end
			    </tbody>
		    </table>
		</fieldset>
	</div>    
</div>