<div id="admin">
	<div id="adminOptions">
		<h2>Admin options</h2>
		<ul>
			<li><a href="${contextPath}/admin/systeminfo.html">System Information</a> (Vital information about the system.)</li>
			<li><a href="${contextPath}/admin/healthcheck.html">Health Check</a> (A check of the health of the system, including remote services.)</li>				            
			<li><a href="${contextPath}/admin/servicerequestbroker.html">Service Request Broker</a> (Brokers requests to remote services.)</li>				            
			<li><a href="${contextPath}/admin/completedrequestlistener.html">Completed Service Request Listener</a> (Listens for response messages from remote services.)</li>
			<li><a href="${contextPath}/admin/servicecontainer.html">Remote service containers</a> (Check the status of and administer remote service containers.)</li>
		</ul>				            
	</div>
</div>   		
