<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>$tiles.getAttribute('title')</title>
    
    #block("css")
    #block("javascript")
	<script type="text/javascript">
    	$(document).ready(function(){
        	#block("jquery_ready")
        });
    </script>
    
  </head>
  <body>
    <div id="container">
    #block("top-nav")
    #block("crumb-nav")
    <div id="back_white">
        <div id="content">
        	#if($message)
        		<div id="message"><h3>$message</h3></div>	
	        #end        	
            #block("content")
        </div>
    </div>
    #block("footer")
    </div>
  </body>
</html>