<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://a9.com/-/spec/opensearch/1.1/">
    <title>$tiles.getAttribute('title')</title>
    
    #block("meta")
    #block("extra-meta")
    
    #block("pre-css")
    #block("css")
    #block("post-css")
    
    #block("pre-javascript")
    #block("javascript")
    #block("post-javascript")
    
  </head>
  <body>
    <div id="container">
    #block("top-nav")
    #block("crumb-nav")
    <div id="back_white">
        <div id="content">
            #block("content")
        </div>
    </div>
    #block("footer")
    </div>
  </body>
</html>