<div id="tasks">
    <ul id="localNav">
        <li><a href="#status">
            <span>Status </span>
        </a></li>
        #if ($permissions.canAdministerServiceRequestListener())
	        <li><a href="#administer">
	            <span>Administer </span>
	        </a></li>
        #end
    </ul>
	<div id="status">
		<h2>Status</h2>
        <form method="get" action="${contextPath}/admin/completedrequestlistener.html" >
        <fieldset>
            <legend>Status of listener</legend>
	        <table cellspacing="3" cellpadding="7">
                <tr id="status" >
                <td><label for="status_value">Status</label></td>
                <td><span id="status_value">$listener.state</span></td>
                <td><span class="description">Whether the listener is currently running.
                </span></td>
		    </table>
		</fieldset>
	            <input type="hidden" name="refresh" value="true" />
        	    <input type="submit" class="button" value="  Refresh  " style="float:right"/>
	    </form>
	</div>

    #if ($permissions.canAdministerServiceRequestListener())
		<div id="administer">
			<h2>Administer</h2>
			<form method="post" action="${contextPath}/admin/completedrequestlistener.html">
				#if (${listener.state.toString()} == "STARTED")
	                <fieldset title="Stop listener">
			            <legend>
			            	Service request listener
	    		        </legend>
			            <input type="hidden" name="stop" value="true" />
						<input type="submit" class="button" value="stop"/>
						<label>Stop the service request listener.</label>
				    </fieldset>
			   #elseif (${listener.state.toString()} == "STOPPED")
	                <fieldset title="Start listener">
			            <legend>
			            	Service request listener
	    		        </legend>
			            <input type="hidden" name="start" value="true" />
						<input type="submit" class="button" value="start"/>
						<label>Start the service request listener.</label>
				    </fieldset>
			   #else
			   		<p>Listener is in process of starting or stopping.</p>
			   #end					
			</form>						
		</div>    	
    #end    
</div>