<div id="crumb_nav">
    <a name="page_content"></a>
    <h1>#i18n($tiles.getAttribute('title') 'Transfer')</h1>
    <div id="crumb">
        #set( $user = $jbpmcontext.actorId)
        #if ($user)
            <span>&nbsp;|&nbsp;</span>
            You are logged in as <span id="currentUser">$user</span>
            <span>&nbsp;|&nbsp;</span>
            <a href="${contextPath}/login/logout.html">logout</a>
        #else
            <span>&nbsp;|&nbsp;</span>
            <a href="${contextPath}/login/login.html">login</a>
        #end
    </div>
</div>