<div id="crumb_nav">
    <a name="page_content"></a>
    <h1>Religion</h1>
    <div id="crumb">
      <a href="http://www.loc.gov/">The Library of Congress</a>
      <span>&nbsp;>&nbsp;</span>
      <a href="../index.html">American Memory Home</a><span>&nbsp;>&nbsp;</span>
      <a href="index.html">Browse Collections</a>
    </div>
</div>