<div id="crumb_nav">
    <a name="page_content"></a>
    <h1> $tiles.getAttribute('title') </h1>
    <div id="crumb">
        #if ($jbpmcontext.actorId)
            <span>&nbsp;|&nbsp;</span>
            You are logged in as <span id="currentUser">$jbpmcontext.actorId</span>
            <span>&nbsp;|&nbsp;</span>
            <a href="${contextPath}/login/logout.html">logout</a>
        #else
            #if($tiles.getAttribute('title') != 'Login')
            <span>&nbsp;|&nbsp;</span>
            <a href="${contextPath}/login/login.html">login</a>
            #end
        #end
    </div>
</div>