<p>Variables:</p>
#foreach ($variableBean in $taskInstanceBean.taskBean.variableBeanList)
	#set($variableValue = "")
	#set($variableValue = $taskInstanceBean.variableMap.get($variableBean.name))
	#if ($variableBean.writable)		
		<p>$variableBean.name: <input type="text" name="variable.${variableBean.name}" value="$variableValue" />
		#if ($variableBean.required)
			&nbsp;&nbsp;(Required)
		#end
		</p>
	#else
		<p>$variableBean.name = $variableValue</p>
	#end
#end	
