<div id="healthcheck">
#if($problemList.isEmpty())
        #set($status="Pass")
#else
        #set($status="Fail")
#end
	<h2>Healthcheck</h2>
	<dl>
		<dt>Status:</dt>
		<dd><span class="status">$status</span></dd>
	</dl>
	<div id="problems">
		<h3>Problems</h3>
		<ul>
	    	#foreach($problem in $problemList)
				<li>${problem}</li>
	    	#end
	    </ul>
	</div>
	<div id="passed">
		<h3>Passed tests</h3>
		<ul>
        	#foreach($test in $passedTestList)
    			<li>${test}</li>
        	#end
        </ul>
	</div>
</div>