<div id="home">
	<fieldset>
	    <legend><b><a href="${contextPath}/taskinstance/index.html">Tasks</a></b></legend>
	    <ul class="homeNav">
	        <li><a href="${contextPath}/taskinstance/index.html?ref=userTasks#userTasks">
	            See all of my current tasks.</a><br/>
	            #if ($userBean && $userBean.userTaskInstanceBeanList.size() > 0)
		            #if( $userBean.userTaskInstanceBeanList.size() > 10 )
				    <table>
				        <tbody><tr><td>
		                    <form id="userTasks_pager" class="pager">
		                		<img src="${contextPath}/images/icons/first.png" class="first"/>
		                		<img src="${contextPath}/images/icons/prev.png" class="prev"/>
		                		<label for="myTasks_pagedisplay">Showing page </label>
		                		<input id="myTasks_pagedisplay" type="text" class="pagedisplay"/>
		                		<img src="${contextPath}/images/icons/next.png" class="next"/>
		                		<img src="${contextPath}/images/icons/last.png" class="last"/>
		                		<label for="myTasks_pagesize">Results per page: </label>
		                		<select id="myTasks_pagesize" class="pagesize">
		                			<option selected="selected"  value="10">10</option>
		                			<option value="20">20</option>
		                			<option value="30">30</option>
		                			<option  value="40">40</option>
		                		</select>
		                    </form>
		                </td></tr></tbody>
		            </table>
		            #end
			        <table id="userTasks_table" class="tablesorter pageable"  >
			            <thead>
			                <tr id="taskDetailsHeader">
		                        <th>Name</th>
		                        <th>Package</th>
		                        <th>Date Task Created</th>
		                    </tr>
		                </thead>
		                <tbody>
					        #foreach($taskInstanceBean in $userBean.userTaskInstanceBeanList)
					        <tr id="task${taskInstanceBean.id}" >
						        <td><a href="${contextPath}/taskinstance/${taskInstanceBean.id}.html">
						            ${taskInstanceBean.taskBean.name} ($taskInstanceBean.id)
						        </a></td>
						        <td>
		    				    #if($taskInstanceBean.processInstanceBean.packageName)  $taskInstanceBean.processInstanceBean.packageName #else unnamed #end
						        </td>
						        <td>
						            ${date.format('yyyy-MM-dd hh:mm', $taskInstanceBean.createDate)}
						        </td>				        
						    </tr>					
					        #end
					    </tbody>
				    </table>
			   	#end
	            
	        </li>
	        <li><a href="${contextPath}/taskinstance/index.html?ref=groupTasks#groupTasks">
	            See all tasks that are unassigned.</a><br/>
	            #if ($userBean && $userBean.groupTaskInstanceBeanList.size() > 0)
		            #if( $userBean.groupTaskInstanceBeanList.size() > 10)
				    <table>
				        <tbody><tr><td>
		                    <form id="unassignedTasks_pager" class="pager">
		                		<img src="${contextPath}/images/icons/first.png" class="first"/>
		                		<img src="${contextPath}/images/icons/prev.png" class="prev"/>
		                		<label for="unassignedTasks_pagedisplay">Showing page </label>
		                		<input id="unassignedTasks_pagedisplay" type="text" class="pagedisplay"/>
		                		<img src="${contextPath}/images/icons/next.png" class="next"/>
		                		<img src="${contextPath}/images/icons/last.png" class="last"/>
		                		<label for="unassignedTasks_pagesize">Results per page: </label>
		                		<select id="unassignedTasks_pagesize" class="pagesize">
		                			<option selected="selected"  value="10">10</option>
		                			<option value="20">20</option>
		                			<option value="30">30</option>
		                			<option  value="40">40</option>
		                		</select>
		                    </form>
		                </td></tr></tbody>
		            </table>
		            #end
			        <table id="groupTasks_table" class="tablesorter pageable"  >
			            <thead>
			                <tr >
		                        <th>Name</th>
		                        <th>Package</th>
		                        <th>Create Date</th>
		                        <th>Accept This Task</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    #foreach($taskInstanceBean in $userBean.groupTaskInstanceBeanList)
					        <tr id="task${taskInstanceBean.id}" >
						        <td><a href="${contextPath}/taskinstance/${taskInstanceBean.id}.html">
						            ${taskInstanceBean.taskBean.name} ($taskInstanceBean.id)
						        </a></td>
						        <td>
		    				    #if( $taskInstanceBean.processInstanceBean.packageName)  $taskInstanceBean.processInstanceBean.packageName #else unnamed #end
						        </td>
						        <td>
						            ${date.format('yyyy-MM-dd hh:mm', $taskInstanceBean.createDate)}
						        </td>
						        <td>
						            <form method="post" action="${contextPath}/taskinstance/${taskInstanceBean.id}.html?method=put">
		                					<input type="hidden" name="user" value="${userBean.id}" />
		                					<input type="submit" name="assignbutton" class="button" value="Assign To Me"/>
		                			</form>	
						        </td>				        
						    </tr>					
					        #end
					    </tbody>
				    </table>
				  #end	            
	        </li>
	    </ul>
	</fieldset>
	<hr/>
	<fieldset>
	    <legend><b><a href="${contextPath}/processinstance/index.html">Workflows</a></b></legend>	    
	    <ul class="homeNav">
	        <li><a href="${contextPath}/processinstance/index.html?ref=activeWorkflows#activeWorkflows">
	            See all of the active workflows.</a><br/></li>
	        <li><a href="${contextPath}/processinstance/index.html?ref=problemWorkflows#problemWorkflows">
	            See all of the problem workflows.</a><br/></li>
	        <li><a href="${contextPath}/processinstance/index.html?ref=newWorkflow#newWorkflow">
	            Start a new workflow.</a><br/></li>
	    </ul>
	</fieldset>
	<hr/>
	<fieldset>
	    <legend><b><a href="${contextPath}/reports/index.html">Reports</a></b></legend>
	    <ul class="homeNav">
	        <li><a href="${contextPath}/reports/index.html?ref=viewReports#viewReports">
	            View my current and past reports.</a><br/></li>
	        <li><a href="${contextPath}/reports/index.html?ref=newReports#newReports">
	            Create new reports.</a><br/></li>
	    </ul>
	</fieldset>
	<hr/>
	<fieldset>
	    <legend><b><a href="${contextPath}/admin/index.html">Administer</a></b></legend>
	    <ul class="homeNav">
	        <li><a href="${contextPath}/admin/index.html?ref=systemProcesses#systemProcesses">
	            Manage the system processes.</a><br/></li>
	        <li><a href="${contextPath}/admin/index.html?ref=vitalStatistics#vitalStatistics">
	            View vital statistics.</a><br/></li>
	        <li><a href="${contextPath}/admin/index.html?ref=systemInfo#systemInfo">
	            System details.</a><br/></li>
	    </ul>
	</fieldset>
	<hr/>
</div>