<div id="home">
	<div id="tasks">
	<h2><a href="${contextPath}/taskinstance/index.html">Tasks</a></h2>
		<ul class="homeNav">
			<li><a href="${contextPath}/taskinstance/index.html?ref=userTasks#userTasks">
	            See all of my current tasks.</a><br/>
	            #if ($userBean && $userBean.userTaskInstanceBeanList.size() > 0)
	            	#tablesorter('userTasks' $userBean.userTaskInstanceBeanList.size())
			        <table id="userTasks_table" class="tablesorter"  >
			            <thead>
			                <tr id="taskDetailsHeader">
		                        <th>Name</th>
		                        <th>Package</th>
		                        <th>Date Task Created</th>
		                    </tr>
		                </thead>
		                <tbody>
					        #foreach($taskInstanceBean in $userBean.userTaskInstanceBeanList)
					        <tr id="task${taskInstanceBean.id}" >
						        <td><a href="${contextPath}/taskinstance/${taskInstanceBean.id}.html">
						            ${taskInstanceBean.taskBean.name} ($taskInstanceBean.id)
						        </a></td>
						        <td>
		    				    #if($taskInstanceBean.processInstanceBean.packageName)  $taskInstanceBean.processInstanceBean.packageName #else unnamed #end
						        </td>
						        <td>
						            ${date.format('yyyy-MM-dd hh:mm', $taskInstanceBean.createDate)}
						        </td>				        
						    </tr>					
					        #end
					    </tbody>
				    </table>
			   	#end
	            
	        </li>
	        <li><a href="${contextPath}/taskinstance/index.html?ref=groupTasks#groupTasks">
	            See all tasks that are unassigned.</a><br/>	            
	            #if ($userBean && $userBean.groupTaskInstanceBeanList.size() > 0)
    	            #tablesorter('unassignedTasks' $userBean.groupTaskInstanceBeanList.size())
			        <table id="unassignedTasks_table" class="tablesorter"  >
			            <thead>
			                <tr >
		                        <th>Name</th>
		                        <th>Package</th>
		                        <th>Create Date</th>
		                        <th>Accept This Task</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    #foreach($taskInstanceBean in $userBean.groupTaskInstanceBeanList)
					        <tr id="task${taskInstanceBean.id}" >
						        <td><a href="${contextPath}/taskinstance/${taskInstanceBean.id}.html">
						            ${taskInstanceBean.taskBean.name} ($taskInstanceBean.id)
						        </a></td>
						        <td>
		    				    #if( $taskInstanceBean.processInstanceBean.packageName)  $taskInstanceBean.processInstanceBean.packageName #else unnamed #end
						        </td>
						        <td>
						            ${date.format('yyyy-MM-dd hh:mm', $taskInstanceBean.createDate)}
						        </td>
						        <td>
						            <form method="post" action="${contextPath}/taskinstance/${taskInstanceBean.id}.html?method=put">
		                					<input type="hidden" name="user" value="${userBean.id}" />
		                					<input type="submit" name="assignbutton" class="button" value="Assign To Me"/>
		                			</form>	
						        </td>				        
						    </tr>					
					        #end
					    </tbody>
				    </table>
				#end	            
	        </li>
	    </ul>
	</div>
	<div id="workflows">
	    <h2><a href="${contextPath}/processinstance/index.html">Workflows</a></h2>	    
	    <ul class="homeNav">
	        <li><a href="${contextPath}/processinstance/index.html?ref=activeWorkflows#activeWorkflows">
	            See all of the active workflows.</a></li>
	        <li><a href="${contextPath}/processinstance/index.html?ref=problemWorkflows#problemWorkflows">
	            See all of the problem workflows.</a></li>
	        <li><a href="${contextPath}/processinstance/index.html?ref=newWorkflow#newWorkflow">
	            Start a new workflow.</a></li>
	    </ul>
	</div>
	<div id="reports">
		<h2><a href="${contextPath}/reports/index.html">Reports</a></h2>
	    <ul class="homeNav">
	        <li><a href="${contextPath}/reports/index.html?ref=viewReports#viewReports">
	            View my reports.</a><br/></li>
	    </ul>
	</div>
	<div id="Administer">	
	    <h2><a href="${contextPath}/admin/index.html">Administer</a></h2>
	    <ul class="homeNav">
	        <li><a href="${contextPath}/admin/index.html?ref=systemProcesses#systemProcesses">
	            Manage the system processes.</a><br/></li>
	        <li><a href="${contextPath}/admin/index.html?ref=vitalStatistics#vitalStatistics">
	            View vital statistics.</a><br/></li>
	        <li><a href="${contextPath}/admin/index.html?ref=systemInfo#systemInfo">
	            System details.</a><br/></li>
	    </ul>
	</fieldset>
</div>