<div id="home">
    <table style="height:300px;width:100%">
        <tbody valign="top"><tr>
            <td><fieldset>
                <legend><b>Tasks</b></legend>
                <a href="${contextPath}/taskinstance/index.html">
                    <img style="float:left;" src="${contextPath}/images/chart_00.png" />
                </a>
                <ul class="homeNav">
                    <li><a href="${contextPath}/taskinstance/index.html#userTasks">
                        See all of my current tasks.</a><br/></li>
                    <li><a href="${contextPath}/taskinstance/index.html#groupTasks">
                        See all tasks that are unassigned.</a><br/></li>
                    <li><a href="${contextPath}/taskinstance/index.html#localHelp">
                        Read the available help docs.</a><br/></li>
                </ul>
            </fieldset><hr/></td>
            <td><fieldset>
                <legend><b>Workflows</b></legend>
                <a href="${contextPath}/processinstance/index.html">
                    <img style="float:left;" src="${contextPath}/images/chart_01.png" />
                </a>
                <ul class="homeNav">
                    <li><a href="${contextPath}/processinstance/index.html#activeWorkflows">
                        See all of the active workflows.</a><br/></li>
                    <li><a href="${contextPath}/processinstance/index.html#suspendedWorkflows">
                        See all of the suspended workflows.</a><br/></li>
                    <li><a href="${contextPath}/processinstance/index.html#newWorkflow">
                        Start a new workflow.</a><br/></li>
                    <li><a href="${contextPath}/processinstance/index.html#localHelp">
                        Read the available help docs.</a><br/></li>
                </ul>
            </fieldset><hr/></td>
        </tr><tr>
            <td><fieldset>
                <legend><b>Administer</b></legend>
                <a href="${contextPath}/admin/index.html">
                    <img style="float:left;" src="${contextPath}/images/chart_02.png" />
                </a>
                <ul class="homeNav">
                    <li><a href="${contextPath}/admin/index.html#systemProcesses">
                        Manage the system processes.</a><br/></li>
                    <li><a href="${contextPath}/admin/index.html#vitalStatistics">
                        View vital statistics.</a><br/></li>
                    <li><a href="${contextPath}/admin/index.html#systemInfo">
                        System details.</a><br/></li>
                    <li><a href="${contextPath}/admin/index.html#localHelp">
                        Read the available help docs.</a><br/></li>
                </ul>
            </fieldset><hr/></td>
            <td><fieldset>
                <legend><b>Reports</b></legend>
                <a href="${contextPath}/reports/index.html">
                    <img style="float:left;" src="${contextPath}/images/chart_03.png" />
                </a>
                <ul class="homeNav">
                    <li><a href="${contextPath}/reports/index.html#viewReports">
                        View my current and past reports.</a><br/></li>
                    <li><a href="${contextPath}/reports/index.html#newReports">
                        Create new reports.</a><br/></li>
                    <li><a href="${contextPath}/reports/index.html#localHelp">
                        Read the available help docs.</a><br/></li>
                </ul>
            </fieldset><hr/></td>
        </tr></tbody>
    </table>
</div>