<script type="text/javascript" src="${contextPath}/javascript/src/jquery.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/src/jquery.dimensions.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/src/jquery.ui-all-1.5b.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/src/jquery.tablesorter.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/src/jquery.tablesorter.pager.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        //TABS
        $('#localNav').tabs();
        
        //TABLES
        $("#dataTable").tablesorter({widgets: ['zebra']});
        
        //TABLE userTasks
        $("#userTasks_table").tablesorter({
            widgets: ['zebra']
        }).tablesorterPager({
            seperator:" of ",
            positionFixed:false,
            container: $("#userTasks_pager")
        });
        
        //TABLE groupTasks
        $("#groupTasks_table").tablesorter({
            widgets: ['zebra']
        }).tablesorterPager({
            seperator:" of ",
            positionFixed:false,
            container: $("#unassignedTasks_pager")
        });
        
        //TABLE activeProcessInstances
        $("#activeWorkflows_table").tablesorter({
            widgets: ['zebra']
        }).tablesorterPager({
            seperator:" of ",
            positionFixed:false,
            container: $("#activeWorkflows_pager")
        });
        
        //TABLE suspendedProcessInstances
        $("#problemWorkflows_table").tablesorter({
            widgets: ['zebra']
        }).tablesorterPager({
            seperator:" of ",
            positionFixed:false,
            container: $("#problemWorkflows_pager")
        });
        
        //TABLE systemProcesses
        $("#systemProcesses_table").tablesorter({
            widgets: ['zebra']
        }).tablesorterPager({
            seperator:" of ",
            positionFixed:false,
            container: $("#systemProcesses_pager")
        });
        //TABLE systemProcesses
        $("#systemInfo_table").tablesorter({
            widgets: ['zebra']
        })

        //TABLE reportData
        $("#reportData_table").tablesorter({
            widgets: ['zebra']
        }).tablesorterPager({
            seperator:" of ",
            positionFixed:false,
            container: $("#reportData_pager")
        });

        //TABLE reports
        $("#reports_table").tablesorter({
            widgets: ['zebra']
        }).tablesorterPager({
            seperator:" of ",
            positionFixed:false,
            container: $("#reports_pager")
        });
        
        //HELP
        $("#helpTopics > li").click(function() {
            if(!$(this).hasClass('selected')){
                $("p", this).slideDown();
                $("table", this).slideDown();
            }else{
                var selected = this;
                $("p", this).slideUp();
                $("table", this).slideUp();
            }
            $(this).toggleClass('selected');
	    }).each(function(){
	        if(!$(this).hasClass('selected')){
                $("p",this).slideUp();
                $("table", this).slideUp();
	        }
	    });
    });
</script>