<script type="text/javascript">
setTimeout(function(){document.loginForm.j_username.focus()}, 10);
</script>

<div id="login" title="Please Log In" >
    <ul id="localNav">
        <li><a href="#loginForm" ><span> Login </span></a></li>
    </ul>
    <div id="loginForm" >
        <form name="loginForm" action="${contextPath}/j_spring_security_check"  method="post">
            <fieldset title="Credentials">
			        <legend><b>Login</b></legend>
                    <table border="0" cellpadding="3" cellspacing="3"  >
                        <tr>
                            <td><label>Username</label>:</td>
                            <td><input name="j_username" type="text" size="20"/></td>
                        </tr>
                        <tr>
                            <td><label>Password</label>:</td>
                            <td><input name="j_password" type="password" size="20"/></td>
                        </tr>
                        <tr>
                        	<td />
                        	<td><input type="checkbox" name="_spring_security_remember_me"> Remember me	
	                        </td>
                        </tr>
                        <tr align="right">
                            <td colspan="2">
                                <input type="submit" class="button" id="Login"  value="  Login  "/> 
                                <input type="button" class="button" id="CancelLogin" value="  Cancel  " />
                            </td>
                        </tr>
                    </table>
            </fieldset>
        </form>
        <span id="loginMessage">
        </span>
    </div>
</div>

<script type="text/javascript">
setTimeout(function(){document.loginForm.j_username.focus()}, 10);
</script>
