#*
  - Blocks are just a simple way to reference view templates
  - passed from the tiles page layouts.
*#  
#macro( block $name )
  #if ($tiles.getAttribute($name))
    #parse($tiles.getAttribute($name))
  #end
#end

#*
  - attr is just a convient way to get tiles.getAttribute($name)
*#  
#macro( attr $name )$tiles.getAttribute($name)#end

#*
  - context refers to the globally configured app context root
*#  
#macro( context $contextPath )
    #if ($contextPath)
        $contextPath
    #end
#end

#*
  -The i18n macro to simplify working with spring and providing defaults
*#
#macro( I18N  $resourceMessageBase $resourceMessageCode)
    #set ($code = "${resourceMessageBase}.${resourceMessageCode}")
    #springMessageText($code)
#end

#*
  -Prints a login required message
*#
#macro( login_required )
	<br/>
	<h4>To view, please <a href="${contextPath}/login/login.html#if($referer)?referer=$escape.url($referer)#end"">log in</a>.</h4>
#end

#*
  -Writes out a variable
*#
#macro( variable $variableBean $taskInstanceBean )
	#set($variableValue = "")
	#set($variableValue = $taskInstanceBean.variableMap.get($variableBean.id))
	#if($variableBean.writable)
		<td><label for="variable${variableBean.id}">
		    ${variableBean.name}		    
		<label></td>
		<td><input id="variable${variableBean.id}"
		    type="text" 
		    name="variable.${variableBean.id}" 
		    value="$variableValue" />
		#if ($variableBean.required)
			&nbsp;&nbsp;(Required)
		#end
		</td>
	#else
	    <td><label for="variable${variableBean.id}">
		    $variableBean.name
	    <label></td>
		<td><span id="variable${variableBean.id}">
		    $variableValue
		</span></td>
	#end
#end

#*
  -Writes out collection of ObjectEntries
*#
#macro( object_entries $req )
	#set($sep = "")
	{#foreach($entry in $req.entries)$sep$entry.key=$!{entry.value}#set($sep = ", ")#end}
#end