#*
  - Blocks are just a simple way to reference view templates
  - passed from the tiles page layouts.
*#  
#macro( block $name )
  #if ($tiles.getAttribute($name))
    #parse($tiles.getAttribute($name))
  #end
#end

#*
  - attr is just a convient way to get tiles.getAttribute($name)
*#  
#macro( attr $name )$tiles.getAttribute($name)#end

#*
  - context refers to the globally configured app context root
*#  
#macro( context $contextPath )
    #if ($contextPath)
        $contextPath
    #end
#end

#*
  -The i18n macro to simplify working with spring and providing defaults
*#
#macro( I18N  $resourceMessageBase $resourceMessageCode)
    #set ($code = "${resourceMessageBase}.${resourceMessageCode}")
    #springMessageText($code)
#end
