<div id="processinstance">
    
    <div id="workflowDetails">
        <h2>Details</h2>
        <dl>
        	<dt>Workflow Id:</dt>
        	<dd>${processInstanceBean.id}</dd>
        	<dt>Type:</dt>
        	<dd>${processInstanceBean.processDefinitionBean.name}</dd>
        	<dt>Package Name:</dt>
        	<dd>
                        #set($packageName = "none")
                        #set($packageName = $processInstanceBean.packageName)
                        $packageName
            </dd>
            <dt>Status:</dt>
            <dd>
	                        #if ($processInstanceBean.suspended)
	                            Suspended
	                        #elseif ($processInstanceBean.ended)
	                        	Ended
							#elseif ($tokenBean.endDate)
								Ended on ${date.format('yyyy-MM-dd hh:mm', $tokenBean.endDate)}
	                        #else
	                            In Progress
	                        #end                        
            </dd>
        </dl>
        #if ($permissions.canSuspendProcess())
            <form method="post" action="${requestURI}">
	    	<input type="hidden" name="method" value="put" />    		                            	    		
        	#if ($processInstanceBean.suspended)
        		<input type="hidden" name="suspended" value="false" />
        		<input class="button" type="submit" value="resume" />
        	#else
        		<input type="hidden" name="suspended" value="true" />
        		<input class="button" type="submit" value="suspend" />
        	#end
        	</form>
        #end
        #if($permissions.canCancelProcessInstance() && ! $processInstanceBean.ended && ! $processInstanceBean.suspended)    
            <form method="post" action="${requestURI}">
		    	<input type="hidden" name="method" value="put" />    		                            	    		
        		<input type="hidden" name="cancel" value="true" />
        		<input class="button" type="submit" value="cancel workflow" />
        	</form>                                    	
        #end
    </div>

    <div id="workflowVariables">
        <h2>Variables</h2>
        <form method="post" action="${requestURI}#workflowVariables">
			<input type="hidden" name="method" value="put" />
			<dl>            	
        	#foreach($key in $processInstanceBean.variableMap.keySet())
        		#set($value = $processInstanceBean.variableMap.get($key))
    			##At least for now, until allow update of strings
    			<dt>$key:</dt>
    			#if ($permissions.canUpdateVariables() && $value.class.simpleName == "String")        			
        			<dd><input id="variable.${key}" type="text" name="variable.${key}" value="$value" /></dd>
    			#else
        			<dd>$value</dd>
    			#end
        	#end
        	</dl>
        	<input class="button" type="submit" value="update" />
        </form>
    </div>
    
    <div id="comments">
	    <h2>Comments</h2>
		#list_comments($processInstanceBean.commentBeanList)
        #if ($permissions.canAddComment())
	    	<div id="addComment">
	    	    <h3>Add Comment</h3>
				<form method="post" action="${contextPath}/processinstance/${processInstanceBean.id}/comment.html">
			        <input type="hidden" name="referer" value="/processinstance/${processInstanceBean.id}.html#comments" />
			        <textarea name="message" cols="50" rows="15"></textarea>				
			        <input class="button" type="submit" value="create"/>			        
				</form>						
	    	</div>
        #end
    </div>
	
	<div id="workflowTokens">
        <h2>Tokens</h2>
    	#foreach($tokenBean in $processInstanceBean.tokenBeanList)
    		<div id="workflowToken${tokenBean.id}">
    			<div id="detail${tokenBean.id}">
		    		<h3>#if($tokenBean.child)Child #else Root#end Token</h3>
		    		<dl>
		    			<dt>Token Id</dt>
		    			<dd>$tokenBean.id</dd>
		    			<dt>Status<dt>
		    			<dd>
							#if ($tokenBean.suspended)
								Suspended
	                        #elseif ($tokenBean.ended)		                        	
	                            Ended
							#elseif ($tokenBean.endDate)
								Ended on ${date.format('yyyy-MM-dd hh:mm', $tokenBean.endDate)}
	                        #else
	                            In Progress
	                        #end
	                    </dd>                    
		                #if($tokenBean.workflowExceptionBean)
		                	<dt>Last exception</dt>
		                	<dd>
		                    	<p>
		                    		Exception = $!tokenBean.workflowExceptionBean.exception<br/>
		                    		#if($tokenBean.workflowExceptionBean.exceptionDetail)Exception = $tokenBean.workflowExceptionBean.exceptionDetail<br/>#end
		                    		#if($tokenBean.workflowExceptionBean.nodeName)Node = $tokenBean.workflowExceptionBean.nodeName<br/>#end
		                    		#if($tokenBean.workflowExceptionBean.actionName)Action = $tokenBean.workflowExceptionBean.actionName<br/>#end
	                			</p>
	                		</dd>
		                #end
		                <dt>Node</dt>
		                <dd>
			        		#if ($tokenBean.movable && $permissions.canMoveToken())
			        			<form method="post" action="${contextPath}/token/${tokenBean.id}.html">
									<input type="hidden" name="method" value="put" />			        				
			        				<input type="hidden" name="referer" value="${requestURI}#workflowTokens" />		    	
			        			    <select name="node">
			        	    			#foreach($nodeBean in $nodeBeanList)
			        	    				<option value="$nodeBean.id" 
			        	    				    #if ($tokenBean.nodeBean.id == $nodeBean.id) selected #end>
			        	    				    $nodeBean.name
			        	    				</option>					
			        	    			#end				
			        	    		</select>				
			        				<input class="button" type="submit" value="move"/>
			        			</form>
			        		#else
			        			$tokenBean.nodeBean.name
			        		#end
						</dd>			                    	
		                #if($tokenBean.child)
		                	<dt>Parent</dt>
		                	<dd><a href="#workflowToken$tokenBean.parentTokenBean.id">Token $tokenBean.parentTokenBean.id</a></dd>
	                	#end
	                </dl>
	            </div>
	            <div id="logEntries${tokenBean.id}">
	        		<h5>Log entries</h5>
	    			<ol>
	    				#foreach($entry in $tokenBean.logEntryList)
	    					<li>$entry</li>
	    				#end				
	    			</ol>
	    		</div>
    			#if (! $tokenBean.taskInstanceBeanList.empty)
		    		<div id="tasks${tokenBean.id}">
		    			<h5>Tasks</h5>
				        <table id="userTasks_table" class="tablesorter"  >
				            <thead>
				                <tr id="taskDetailsHeader">
			                        <th>Name</th>
			                        <th>Date Task Created</th>
			                        <th>Status</th>
			                    </tr>
			                </thead>
			                <tbody>
						        #foreach($taskInstanceBean in $tokenBean.taskInstanceBeanList)
							        <tr id="task${taskInstanceBean.id}" >
								        <td><a href="${contextPath}/taskinstance/${taskInstanceBean.id}.html">
								            ${taskInstanceBean.taskBean.name} ($taskInstanceBean.id)
								        </a></td>
								        <td>
								            ${date.format('yyyy-MM-dd hh:mm', $taskInstanceBean.createDate)}
								        </td>
								        <td>
								        	#if ($taskInstanceBean.ended) Ended #else Active #end
								        </td>				        
								    </tr>					
						        #end
						    </tbody>
					    </table>		    		
				    </div>
			    #end
			    #if (! $tokenBean.serviceRequestList.empty)
			    	<div id="serviceRequests${tokenBean.id}">
		    			<h5>Service Requests</h5>
						<table class="tablesorter">
				        	<thead>
				                <tr>
			                        <th>Key</th>
			                        <th>Queue</th>
			                        <th>JobType</th>
			                        <th>Req. entries</th>
			                        <th>Req. date</th>
			                        <th>Responder</th>
			                        <th>Req. ack. date</th>
			                        <th>Resp. date</th>
			                        <th>Resp. ack. date</th>
			                        <th>Resp. entries</th>
			                        <th>Suspended</th>
			                        <th>Success</th>
			                        <th>Error</th>
			                        <th>Error detail</th>
			                    </tr>
				            </thead>
				            <tbody>
					            #foreach($req in $tokenBean.serviceRequestList)
						        	<tr>
										<td>$req.key</td>
										<td>$req.queue</td>
										<td>$req.jobType</td>									
										<td>#object_entries($req.requestEntries)</td>
										<td>${date.format('yyyy-MM-dd hh:mm', $req.requestDate)}</td>
										<td>$!req.responder</td>
										<td>$!{date.format('yyyy-MM-dd hh:mm', $req.requestAcknowledgedDate)}</td>
										<td>$!{date.format('yyyy-MM-dd hh:mm', $req.responseDate)}</td>
										<td>$!{date.format('yyyy-MM-dd hh:mm', $req.responseAcknowledgedDate)}</td>
										<td>#object_entries($req.responseEntries)</td>
										<td>$!{req.isSuspended()}</td>
										<td>$!{req.isSuccess()}</td>
										<td>$!req.errorMessage</td>
										<td>$!req.errorDetail</td>	
						        	</tr>
					        	#end
					       	</tbody>
					    </table>
					</div>
				#end
        	</div>
        #end
    </div>    
</div>
