<div id="processinstance">
    
    <ul id="localNav">
        <li><a href="#workflowDetails" ><span> Details </span></a></li>
        <li><a href="#workflowVariables" ><span> Variables </span></a></li>
        <li><a href="#workflowTokens" ><span> Tokens </span></a></li>
        <li><a href="#comments" ><span> Comments ($processInstanceBean.commentBeanList.size()) </span></a></li>
    </ul>

    <div id="workflowDetails">
        <h2>Details</h2>
        <fieldset>
            <legend>Examine details regarding this workflow's status</legend>
            <table cellspacing="3" cellpadding="7">
                <tr id="workflowID" >
                    <td><label for="workflowID_value">Workflow Id</label></td>
                    <td><span id="workflowID_value">
                        ${processInstanceBean.id}
                    </span></td>
                    <td><span class="description">
                    </span></td>
                </tr>
                <tr id="workflowType" >
                    <td><label for="workflowType_value">Type</label></td>
                    <td><span id="workflowType_value">
						${processInstanceBean.processDefinitionBean.name}                        
                    </span></td>
                    <td><span class="description">
                    </span></td>
                </tr>
                <tr id="packageName" >
                    <td><label for="packageName_value">Package Name</label></td>
                    <td><span id="packageName_value">
                        #set($packageName = "none")
                        #set($packageName = $processInstanceBean.packageName)
                        $packageName
                    </span></td>
                    <td><span class="description">
                    </span></td>
                </tr>
                
                <tr id="workflowStatus" >
                    <td><label for="workflowStatus_value">Status</label></td>
                    <td>
                        <span id="workflowStatus_value">
	                        #if ($processInstanceBean.suspended)
	                            Suspended
	                        #elseif ($processInstanceBean.ended)
	                        	Ended
	                        #else
	                            In Progress
	                        #end                        
                        </span>
                    </td>
                    <td><span class="description">
                        #if ($permissions.canSuspendProcess())
                            <form method="post" action="${requestURI}">
					    	<input type="hidden" name="method" value="put" />    		                            	    		
                        	#if ($processInstanceBean.suspended)
                        		<input type="hidden" name="suspended" value="false" />
                        		<input class="button" type="submit" value="resume" />
                        	#else
                        		<input type="hidden" name="suspended" value="true" />
                        		<input class="button" type="submit" value="suspend" />
                        	#end
                        	</form>
                        #end
                    </span></td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div id="workflowVariables">
        <h2>Variables</h2>
        <fieldset>
            <legend>Examine variables and their values specific to this workflow.</legend>
            <form method="post" action="${requestURI}#workflowVariables">
				<input type="hidden" name="method" value="put" />            	
	            <table cellspacing="3" cellpadding="7">
	                <thead><tr>
	                    <th>Name</th>
	                    <th>Value</th>
	                    <th></th>
	                </tr></thead>
	                <tbody>
	            	#foreach($key in $processInstanceBean.variableMap.keySet())
	            		#set($value = $processInstanceBean.variableMap.get($key))
	            		<tr>
	            			##At least for now, until allow update of strings
	            			#if ($permissions.canUpdateVariables() && $value.class.simpleName == "String")
		            			<td><label for="variable.${key}">$key<label></td>
		            			<td><input id="variable.${key}" type="text" name="variable.${key}" value="$value" /></td>
		            			<td><input class="button" type="submit" value="update" /></td>
	            			#else
		            			<td><label for="variable.${key}">$key</label></td>
		            			<td><span id="variable.${key}">$value</span></td>
		            			<td></td>
	            			#end
	            		</tr>
	            	#end
	        	    </tbody>
	            </table>
            </form>
        </fieldset>
    </div>
    
    <div id="comments">
	    <h2>Comments</h2>
    	#foreach($commentBean in $sorter.sort($processInstanceBean.commentBeanList, 'createDate:desc'))
	    <fieldset>
	        <legend><b>$commentBean.userBean.name</b></legend>
	        <p>$escape.html($commentBean.message)</p>
	        <span style="float:right;">${date.format('yyyy-MM-dd hh:mm', $commentBean.createDate)}</span>
	    </fieldset>
	    <hr/>
    	#end

        #if ($permissions.canAddComment())
    	<div id="addComment">
    	    <h2>Add Comment</h2>
			<form method="post"
			     action="${contextPath}/processinstance/${processInstanceBean.id}/comment.html">
			    <table style="width:100%">
			        <tr><td align="center">
				        <input type="hidden" 
				            name="referer" 
				            value="/processinstance/${processInstanceBean.id}.html#comments" />
				        <textarea name="message" cols="50" rows="15"></textarea>				
				    </td></tr>
				    <tr><td align="right">
				        <input class="button" type="submit" value="create"/>
				    </td></tr>
				</table>
			</form>						
    	</div>
        #end
    </div>
	
	<div id="workflowTokens">
        <h2>Tokens</h2>
    	#foreach($tokenBean in $processInstanceBean.tokenBeanList)
    		<div id="workflowToken${tokenBean.id}">
	    		<h3>#if($tokenBean.child)Child #else Root#end Token</h3>
		        <fieldset>
		            <legend>Examine details regarding this token</legend>
		            <table cellspacing="3" cellpadding="7">
		                <tr id="tokenID" >
		                    <td><label for="tokenID_value">Token Id</label></td>
		                    <td><span id="tokenID_value">$tokenBean.id</span></td>
		                    <td><span class="description">
		                    </span></td>
		                </tr>
		                <tr id="node" >
		                    <td><label for="node_value">Node</label></td>
		                    <td><span id="node_value">$tokenBean.nodeBean.name</span></td>
		                    <td><span class="description">
				        		#if ($tokenBean.movable && $permissions.canMoveToken())
				        			<form method="post" action="${contextPath}/token/${tokenBean.id}.html">
										<input type="hidden" name="method" value="put" />			        				
				        				<input type="hidden" name="referer" value="${requestURI}#workflowTokens" />		    	
				        			    <select name="node">
				        	    			#foreach($nodeBean in $nodeBeanList)
				        	    				<option value="$nodeBean.id" 
				        	    				    #if ($tokenBean.nodeBean.id == $nodeBean.id) selected #end>
				        	    				    $nodeBean.name
				        	    				</option>					
				        	    			#end				
				        	    		</select>				
				        				<input class="button" type="submit" value="move"/>
				        			</form>
				        		#end			                    	
		                    </span></td>
		                </tr>
		                <tr id="tokenStatus" >
		                    <td><label for="tokenStatus_value">Status</label></td>
		                    <td><span id="tokenStatus_value">
		                        #if ($tokenBean.ended)
		                            Ended
		                        #else
		                            In Progress
		                        #end	                    	
		                    </span></td>
		                    <td><span class="description">
		                    </span></td>
		                </tr>
		                #if($tokenBean.child)
			                <tr id="tokenParent" >
			                    <td><label for="tokenParent_value">Parent</label></td>
			                    <td><span id="tokenParent_value">
			                    	<a href="#workflowToken$tokenBean.parentTokenBean.id">Token $tokenBean.parentTokenBean.id</a>
			                    </span></td>
			                    <td><span class="description">
			                    </span></td>
			                </tr>	                	
	                	#end
		            </table>
	        		<h5>Log entries</h5>
	    			<ol>
	    				#foreach($entry in $tokenBean.logEntryList)
	    					<li>$entry</li>
	    				#end				
	    			</ol>
	    			#if (! $tokenBean.taskInstanceBeanList.empty)
		    			<h5>Tasks</h5>
		    			<ol>		    				
		    				#foreach($taskInstanceBean in $tokenBean.taskInstanceBeanList)
		    					<li>
									<a href="${contextPath}/taskinstance/${taskInstanceBean.id}.html">
						            ${taskInstanceBean.taskBean.name} ($taskInstanceBean.id)
							        </a>	    						
		    					</li>
		    				#end
				    	</ol>
				    #end
				    #if (! $tokenBean.serviceRequestList.empty)
		    			<h5>Service Requests</h5>
						<table cellspacing="3" cellpadding="7">
				        	<thead>
				                <tr>
			                        <th>Key</th>
			                        <th>Queue</th>
			                        <th>JobType</th>
			                        <th>Variables</th>
			                        <th>Req. date</th>
			                        <th>Responder</th>
			                        <th>Req. ack. date</th>
			                        <th>Resp. date</th>
			                        <th>Resp. ack. date</th>
			                    </tr>
				            </thead>
				            #foreach($req in $tokenBean.serviceRequestList)
					        	<tr>
									<td>$req.key</td>
									<td>$req.queue</td>
									<td>$req.jobType</td>									
									<td>$req.variableMap</td>
									<td>${date.format('yyyy-MM-dd hh:mm', $req.requestDate)}</td>
									<td>$!req.responder</td>
									<td>$!{date.format('yyyy-MM-dd hh:mm', $req.requestAcknowledgedDate)}</td>
									<td>$!{date.format('yyyy-MM-dd hh:mm', $req.responseDate)}</td>
									<td>$!{date.format('yyyy-MM-dd hh:mm', $req.responseAcknowledgedDate)}</td>
					        	</tr>
				        	#end
					    </table>
					#end		    			
	        	</fieldset>	        	
        	</div>
        #end
    </div>
    
</div>