//TABLE activeProcessInstances
$("#activeWorkflows_table").tablesorter({
    widgets: ['zebra']
}).tablesorterPager({
    seperator:" of ",
    positionFixed:false,
    container: $("#activeWorkflows_pager")
});

//TABLE suspendedProcessInstances
$("#problemWorkflows_table").tablesorter({
    widgets: ['zebra']
}).tablesorterPager({
    seperator:" of ",
    positionFixed:false,
    container: $("#problemWorkflows_pager")
});
