<div id="reports">
	<h2>Available Reports</h2>
    <table id="reports_table" class="tablesorter"  >
        <thead><tr>
        	<th>Category</th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr></thead>
        <tbody>
	        #foreach($report in $reportList)
	        <tr id="report_${report.id}" >
	        	<td>${report.category}</td>
		        <td><a href="${contextPath}/reports/${report.id}.html">
		            ${report.id}</a>
		        </td>
		        <td><a href="${contextPath}/reports/${report.id}.html">
		            ${report.name}</a>
		        </td>
		        <td><p>${report.description}</p></td>     
		    </tr>					
	        #end
	    </tbody>
    </table>
</div>    
