<div id="tasks">
    <ul id="localNav">
        <li><a href="#reports">
            <span>Reports </span>
        </a></li>
    </ul>
	<div id="reports">
		<h2>Reports</h2>
        <fieldset>
            <legend><b>Available Basic Reports</b></legend>
            #tablesorter('reports' $reportList.size())
	        <table id="reports_table" class="tablesorter pageable"  >
	            <thead><tr>
	            	<th> Category </th>
                    <th> ID </th>
                    <th> Name </th>
                    <th> Description </th>
                </tr></thead>
                <tfoot><tr>
                    <th> Category </th>
                    <th> ID </th>
                    <th> Name </th>
                    <th> Description </th>
                </tr></tfoot>
                <tbody>
			        #foreach($report in $reportList)
			        <tr id="report_${report.id}" >
			        	<td>${report.category}</td>
				        <td><a href="${contextPath}/reports/${report.id}.html">
				            <b>${report.id}</b></a>
				        </td>
				        <td><a href="${contextPath}/reports/${report.id}.html">
				            <b>${report.name}</b></a>
				        </td>
				        <td><p>${report.description}</p></td>     
				    </tr>					
			        #end
			    </tbody>
		    </table>
		</fieldset>
	</div>    
</div>
