<li id="searchmenu">
  <form action="/cgi-bin/query" method="post" id="search">
    <label for="searchtext">Search all collections</label>
    <br/>
    <input name="querymdb" id="searchtext" size="18" type="text" />
    <input class="button" id="search_button" name="search_button" type="submit" value="SEARCH" />
    <input type="hidden" name="directory" value="ammem" />
    <input type="hidden" name="Group" value="AMALL" />
    <input type="hidden" name="allwords" value="1" />
    <input type="hidden" name="Stemming" value="Yes" />
  </form>
</li>