<div id="serviceContainers">
	<h2>Service Containers</h2>
	<table class="tablesorter">
		<thead>
			<tr>
				<th>Responder</th>
				<th>Queues</th>
				<th>Job Types</th>
				<th>State</th>
				<th>Active service request count</th>
				<th>Max Memory</th>
				<th>Memory In Use</th>
				<th>Free Memory</th>
	            #if ($permissions.canAdministerServiceContainer())
	            	<th>Administer</th>
	            #end
	        </tr>
	    </thead>
	    <tbody>
	        #foreach($serviceContainerBean in $serviceContainerBeanList)
    			<tr>
            		<td>$serviceContainerBean.responder</td>	            		
	            	<td>$serviceContainerBean.queues</td>
	            	<td>$serviceContainerBean.jobTypes</td>
	            	<td>$serviceContainerBean.state</td>
        			<td>$serviceContainerBean.activeServiceRequestCount</td>
	            	<td>$serviceContainerBean.maxMemory</td>
	            	<td>$serviceContainerBean.totalMemory</td>
	            	<td>$serviceContainerBean.freeMemory</td>
		            #if ($permissions.canAdministerServiceContainer())
						<form method="post" action="${contextPath}/admin/servicecontainer.html">
							<input type="hidden" name="serviceUrl" value="$serviceContainerBean.serviceUrl" />
							#if (${serviceContainerBean.state} == "STARTED")
					            <input type="hidden" name="stop" value="true" />
								<input type="submit" class="button" value="stop"/>
								<label>Stop the service container.</label>
						   #elseif (${serviceContainerBean.state} == "STOPPED")
					            <input type="hidden" name="start" value="true" />
								<input type="submit" class="button" value="start"/>
								<label>Start the service container.</label>
						   #else
						   		<p>Currently starting or stopping.</p>
						   #end					
						</form>
					#end         
				</tr>
			#end
	    
	    </tbody>
	</table>
</div>					
