<div id="taskinstance">
    
    <ul id="localNav">
        #if ($formViewName)     <li><a href="#updateTask"  ><span> Update   </span></a></li> #end
        <li><a href="#taskDetails" ><span> Details </span></a></li>
        #if ($permissions.canReassignTask() && $task.isReassignable())
        <li><a href="#reassignTask"><span> Reassign </span></a></li> 
        #end
        <li><a href="#comments" ><span> Comments ($comments.size())</span></a></li>
        <li><a href="#localHelp"><span> Help     </span></a></li>
    </ul>
    
     #if ($formViewName)
    <div id="updateTask">
	    <h2>Update</h2>
    	#if ($errorList.size() > 0)
    	<fieldset>
		    <legend>Errors</legend>
		    #foreach($error in $errorList)
			<label for="error">$error</label>
			<input id="error" 
			    type="text"
			    readonly="readonly"
			    value="$error"/>
		    #end
		</fieldset>
    	#end
		<form method="post" action="${requestURI}?method=put" enctype="multipart/form-data">
			#parse( "${formViewName}.vm" )
			<fieldset>
			    <legend>Assign a transition for this task.</legend>
    			<select id="transition" name="transition">	
    				<option value="null">leave task as incomplete</option>
    				#foreach ($transition in $task.possibleTransitionNames)	
    					<option value="$transition">
    					    #springMessageText("transitions.${transition}" $transition)
    					</option>
    				#end
    			</select>							
    			<input class="button" type="submit" value="submit"/>
			</fieldset>
		</form>
	</div>
    #end
    
	<div id="taskDetails">
        <h2>Details</h2>
        <fieldset>
            <legend>Examine details for this Task</legend>
            <table cellspacing="3" cellpadding="7">
                <tr>
                    <td><label for="taskID">Tracking ID</label></td>
                    <td><span id="taskID">
                        ${task.id}
                    </span></td>
                    <td><span class="description">
                        The tasks tracking ID.
                    </span></td>
                </tr>
                <tr>
                    <td><label for="taskName">Name</label></td>
                    <td><span id="taskName">
                        ${task.name}
                    </span></td>
                    <td><span class="description">
                        The title of this task.
                    </span></td>
                </tr>
                <tr>
                    <td><label for="taskAssignee">Task Owner</label></td>
                    <td><span id="taskAssignee">
                        #if ($task.assignedUserName) $task.assignedUserName #else UNASSIGNED #end
                    </span></td>
                    <td><span class="description">
                        This persons this task is currently assigned to, if any.
                    </span></td>
                </tr>
                <tr>
                    <td><label for="taskVisibility_value">Groups ($groupNames.size())</label></td>
                    <td><span id="taskVisibility_value">
                        #foreach($groupName in $task.groupNames) $groupName | #end
                    </span></td>
                    <td><span class="description">
                        The groups this task is available to, if any.
                    </span></td>
                </tr>
                <tr id="taskStatus" >
                    <td><label for="taskStatus_value">Status</label></td>
                    <td><span id="taskStatus_value">
                        #if ( $task.ended ) Completed #else Incomplete #end
                    </span></td>
                    <td><span class="description">The current status of this task.</span></td>
                </tr>
                <tr id="taskCreateDate" >
                    <td><label for="taskCreateDate_value">Date Created</label></td>
                    <td><span id="taskCreateDate_value">
                        ${date.format('yyyy-MM-dd hh:mm', $task.dateCreated)}
                    </span></td>
                    <td><span class="description">The time at which this task was created.</span></td>
                </tr>                    
                #if ( $task.ended )
                <tr id="taskCompletionDate" >
                    <td><label for="taskCompletionDate_value">Date Ended</label></td>
                    <td><span id="taskCompletionDate_value" >
                        ${date.format('yyyy-MM-dd hh:mm', $task.dateEnded)}
                    </span></td>
                    <td><span class="description">
                        The time at which this task was marked as completed.
                    </span></td>
                </tr>
                #end
            </table>
        </fieldset>
    </div>

    #if ($permissions.canReassignTask() && $task.isReassignable())
	<div id="reassignTask">
	    <h2>Reassign Task</h2>
	    <form method="post" action="${requestURI}?method=put">
	        <fieldset>
	            <legend>Reassign this task to another user</legend>
	            <label for="taskReassingee">User</label>
    		    <select id="taskReassignee" name="user">
        			<option value="null">none</option>
        			#foreach($user in $users)
        				<option value="$user.id">$user.name</option>					
        			#end				
        		</select>
        		<input class="button" type="submit" value="submit"/>
	        </fieldset>
    	</form>
	</div>
    #end

    <div id="comments">
	    <h2>Comments</h2>
    	#foreach($comment in $sorter.sort($comments, 'dateCreated:desc'))
	    <fieldset>
	        <legend><b>$comment.userName</b></legend>
	        <p>$escape.html($comment.message)</p>
	        <span style="float:right;">${date.format('yyyy-MM-dd hh:mm', $comment.dateCreated)}</span>
	    </fieldset>
	    <hr/>
    	#end

    #if ($permissions.canAddComment())
    	<div id="addComment">
    	    <h2>Add Comment</h2>
			<form method="post"
			     action="${contextPath}/processinstance/${task.processIdRef}/comment.html">
			    <table style="width:100%">
			        <tr><td align="center">
				        <input type="hidden" 
				            name="referer" 
				            value="/taskinstance/${task.id}.html#comments" />
				        <textarea name="message" cols="50" rows="15"></textarea>				
				    </td></tr>
				    <tr><td align="right">
				        <input class="button" type="submit" value="create"/>
				    </td></tr>
				</table>
			</form>						
    	</div>
        #end
    </div>
    
    
    <div id="localHelp">
		<h2>Help</h2>
	    #if ($instructionViewName)
    		#include("${instructionViewName}.vm")
    	#else
    	    <p>No help is currently available for this task.</p>
    	#end
	</div>
</div>