##MACROS
#macro (details)
    <h2>Details</h2>
    <fieldset>
        <legend>Examine details for this Task</legend>
        <table cellspacing="3" cellpadding="7">
            <tr>
                <td><label for="taskID">Task Id</label></td>
                <td><span id="taskID">
                    ${taskInstanceBean.id}
                </span></td>
                <td><span class="description">
                    The tasks id.
                </span></td>
            </tr>
            <tr>
                <td><label for="taskName">Name</label></td>
                <td><span id="taskName">
                    ${taskInstanceBean.taskBean.name}
                </span></td>
                <td><span class="description">
                    The title of this task.
                </span></td>
            </tr>
            <tr>
                <td><label for="workflow">Workflow</label></td>
                <td><span id="workflow">
						<a href="${contextPath}/processinstance/${taskInstanceBean.processInstanceBean.id}.html">
			            ${taskInstanceBean.processInstanceBean.processDefinitionBean.name}
                        (${taskInstanceBean.processInstanceBean.id}) </a>                        
                </span></td>
                <td><span class="description">
                    The workflow that this task is part of.
                </span></td>
            </tr>                
            <tr>
                <td><label for="taskAssignee">Task Owner</label></td>
                <td><span id="taskAssignee">
                    #if ($taskInstanceBean.userBean) $taskInstanceBean.userBean.name #else UNASSIGNED #end
                </span></td>
                <td><span class="description">
                    This persons this task is currently assigned to, if any.
                </span></td>
            </tr>
            <tr>
                <td><label for="taskVisibility_value">Groups ($taskInstanceBean.groupBeanList.size())</label></td>
                <td><span id="taskVisibility_value">
                    #foreach($groupBean in $taskInstanceBean.groupBeanList) $groupBean.name | #end
                </span></td>
                <td><span class="description">
                    The groups this task is available to, if any.
                </span></td>
            </tr>
            <tr id="taskStatus" >
                <td><label for="taskStatus_value">Status</label></td>
                <td><span id="taskStatus_value">
                    #if ( $taskInstanceBean.ended ) Completed #else Incomplete #end
                </span></td>
                <td><span class="description">The current status of this task.</span></td>
            </tr>
            <tr id="taskCreateDate" >
                <td><label for="taskCreateDate_value">Date Created</label></td>
                <td><span id="taskCreateDate_value">
                    ${date.format('yyyy-MM-dd hh:mm', $taskInstanceBean.createDate)}
                </span></td>
                <td><span class="description">The time at which this task was created.</span></td>
            </tr>                    
            #if ( $task.ended )
            <tr id="taskCompletionDate" >
                <td><label for="taskCompletionDate_value">Date Ended</label></td>
                <td><span id="taskCompletionDate_value" >
                    ${date.format('yyyy-MM-dd hh:mm', $taskInstanceBean.endDate)}
                </span></td>
                <td><span class="description">
                    The time at which this task was marked as completed.
                </span></td>
            </tr>
            #end
        </table>
    </fieldset>
	
#end


<div id="taskinstance">
    <ul id="localNav">
        #if ($formViewName)
        	<li><a href="#updateTask"  ><span> Update   </span></a></li>
        #else
        	<li><a href="#taskDetails" ><span> Details </span></a></li>
        #end        
        #if ($permissions.canUpdateTaskInstanceUser() && $taskInstanceBean.canUpdateUserBean())
        <li><a href="#reassignTask"><span> Reassign </span></a></li> 
        #end
        <li><a href="#comments" ><span> Comments ($taskInstanceBean.processInstanceBean.commentBeanList.size())</span></a></li>
    </ul>
    
     #if ($formViewName)
	    <div id="updateTask">
	    	#details()
		    #if ($instructionViewName)
    			<h2>Instructions</h2>
    			#include("${instructionViewName}.vm")
    		#end	    		    	
		    <h2>Update</h2>
	    	#if ($errorList.size() > 0)
	    	<fieldset>
			    <legend>Errors</legend>
			    <ul>
			    #foreach($error in $errorList)
			    	<li>$error</li>
			    #end
			    </ul>
			</fieldset>
	    	#end
			<form method="post" action="${requestURI}?method=put" enctype="multipart/form-data">
				#parse( "${formViewName}.vm" )
				<fieldset>
				    <legend>Assign a transition for this task.</legend>
	    			<select id="transition" name="transition">	
	    				#foreach($transitionBean in $taskInstanceBean.taskBean.leavingTransitionBeanList)	
	    					<option value="$transitionBean.id">
	    					    $transitionBean.name
	    					</option>
	    				#end
	    				<option value="null">leave task as incomplete</option>    				
	    			</select>							
	    			<input class="button" type="submit" value="submit"/>
				</fieldset>
			</form>
		</div>
    #else
    
		<div id="taskDetails">
			#details()
	    </div>
	#end

    #if ($permissions.canUpdateTaskInstanceUser() && $taskInstanceBean.canUpdateUserBean())
	<div id="reassignTask">
	    <h2>Reassign Task</h2>
	    <form method="post" action="${requestURI}">
	    	<input type="hidden" name="method" value="put" />
	        <fieldset>
	            <legend>Reassign this task to another user</legend>
	            <label for="taskReassingee">User</label>
    		    <select id="taskReassignee" name="user">
        			<option value="null">none</option>
        			#foreach($userBean in $userBeanList)
        				<option value="$userBean.id">$userBean.name</option>					
        			#end				
        		</select>
        		<input class="button" type="submit" value="submit"/>
	        </fieldset>
    	</form>
	</div>
    #end

    <div id="comments">
	    <h2>Comments</h2>
    	##foreach($commentBean in $sorter.sort($taskInstanceBean.processInstanceBean.commentBeanList, 'dateCreated:desc'))
    	#foreach($commentBean in $sorter.sort($taskInstanceBean.processInstanceBean.commentBeanList, 'createDate:desc'))
	    <fieldset>
	        <legend><b>$commentBean.userBean.name</b></legend>
	        <p>$escape.html($commentBean.message)</p>
	        <span style="float:right;">${date.format('yyyy-MM-dd hh:mm', $commentBean.createDate)}</span>
	    </fieldset>
	    <hr/>
    	#end

    #if ($permissions.canAddComment())
    	<div id="addComment">
    	    <h2>Add Comment</h2>
			<form method="post" action="${contextPath}/processinstance/${taskInstanceBean.processInstanceBean.id}/comment.html">
			    <table style="width:100%">
			        <tr><td align="center">
				        <input type="hidden" 
				            name="referer" 
				            value="/taskinstance/${taskInstanceBean.id}.html#comments" />
				        <textarea name="message" cols="50" rows="15"></textarea>				
				    </td></tr>
				    <tr><td align="right">
				        <input class="button" type="submit" value="create"/>
				    </td></tr>
				</table>
			</form>						
    	</div>
        #end
    </div>        
</div>