<script type="text/javascript">
var intervalID;

function timedrefresh() {
	//alert("timedrefresh");
  	intervalID = setInterval(pagereload, 5*60000);
}

function pagereload()
{
	window.location="${contextPath}/taskinstance/index.html";
}
window.onload=timedrefresh
</script>

<div id="tasks">
    <ul id="localNav">
        <li><a href="#userTasks">
            <span> My Tasks #if ($userBean) ( $userBean.userTaskInstanceBeanList.size() ) #end</span>
        </a></li>
        <li><a href="#groupTasks">
            <span> Unassigned #if ($userBean) ( $userBean.groupTaskInstanceBeanList.size() ) #end  </span>
        </a></li>
    </ul>
	<div id="userTasks">
		<h2>My Tasks</h2>
        <fieldset>
            <legend>These pending tasks still require completion.</legend>
            #if ($userBean)
	            #if( $userBean.userTaskInstanceBeanList.size() > 10 )
			    <table>
			        <tbody><tr><td>
	                    <form id="userTasks_pager" class="pager">
	                		<img src="${contextPath}/images/icons/first.png" class="first"/>
	                		<img src="${contextPath}/images/icons/prev.png" class="prev"/>
	                		<label for="myTasks_pagedisplay">Showing page </label>
	                		<input id="myTasks_pagedisplay" type="text" class="pagedisplay"/>
	                		<img src="${contextPath}/images/icons/next.png" class="next"/>
	                		<img src="${contextPath}/images/icons/last.png" class="last"/>
	                		<label for="myTasks_pagesize">Results per page: </label>
	                		<select id="myTasks_pagesize" class="pagesize">
	                			<option selected="selected"  value="10">10</option>
	                			<option value="20">20</option>
	                			<option value="30">30</option>
	                			<option  value="40">40</option>
	                		</select>
	                    </form>
	                </td></tr></tbody>
	            </table>
	            #end
		        <table id="userTasks_table" class="tablesorter pageable"  >
		            <thead>
		                <tr id="taskDetailsHeader">
	                        <th>Name</th>
	                        <th>Package</th>
	                        <th>Date Task Created</th>
	                    </tr>
	                </thead>
	                <tfoot><tr id="taskDetailsFooter">
	                        <th>Name</th>
	                        <th>Package</th>
	                        <th>Date Task Created</th>
	                </tr></tfoot>
	                <tbody>
				        #foreach($taskInstanceBean in $userBean.userTaskInstanceBeanList)
				        <tr id="task${taskInstanceBean.id}" >
					        <td><a href="${contextPath}/taskinstance/${taskInstanceBean.id}.html">
					            ${taskInstanceBean.taskBean.name} ($taskInstanceBean.id)
					        </a></td>
					        <td>
	    				    #if($taskInstanceBean.processInstanceBean.packageName)  $taskInstanceBean.processInstanceBean.packageName #else unnamed #end
					        </td>
					        <td>
					            ${date.format('yyyy-MM-dd hh:mm', $taskInstanceBean.createDate)}
					        </td>				        
					    </tr>					
				        #end
				    </tbody>
			    </table>
		   	#else
		   		#login_required()
		   	#end
		</fieldset>
		
	</div>
    <div id="groupTasks">
		<h2>Unassigned Tasks</h2>
		<fieldset>
            <legend>These unassigned tasks are available for anyone to complete.</legend>
            #if ($userBean)
	            #if( $userBean.groupTaskInstanceBeanList.size() > 10)
			    <table>
			        <tbody><tr><td>
	                    <form id="unassignedTasks_pager" class="pager">
	                		<img src="${contextPath}/images/icons/first.png" class="first"/>
	                		<img src="${contextPath}/images/icons/prev.png" class="prev"/>
	                		<label for="unassignedTasks_pagedisplay">Showing page </label>
	                		<input id="unassignedTasks_pagedisplay" type="text" class="pagedisplay"/>
	                		<img src="${contextPath}/images/icons/next.png" class="next"/>
	                		<img src="${contextPath}/images/icons/last.png" class="last"/>
	                		<label for="unassignedTasks_pagesize">Results per page: </label>
	                		<select id="unassignedTasks_pagesize" class="pagesize">
	                			<option selected="selected"  value="10">10</option>
	                			<option value="20">20</option>
	                			<option value="30">30</option>
	                			<option  value="40">40</option>
	                		</select>
	                    </form>
	                </td></tr></tbody>
	            </table>
	            #end
		        <table id="groupTasks_table" class="tablesorter pageable"  >
		            <thead>
		                <tr >
	                        <th>Name</th>
	                        <th>Package</th>
	                        <th>Date Task Created</th>
	                        <th>Accept This Task</th>
	                    </tr>
	                </thead>
	                <tfoot><tr >
	                        <th>Name</th>
	                        <th>Package</th>
	                        <th>Date Task Created</th>
	                        <th>Accept This Task</th>
	                </tr></tfoot>
	                <tbody>
	                    #foreach($taskInstanceBean in $userBean.groupTaskInstanceBeanList)
				        <tr id="task${taskInstanceBean.id}" >
					        <td><a href="${contextPath}/taskinstance/${taskInstanceBean.id}.html">
					            ${taskInstanceBean.taskBean.name} ($taskInstanceBean.id)
					        </a></td>
					        <td>
	    				    #if( $taskInstanceBean.processInstanceBean.packageName)  $taskInstanceBean.processInstanceBean.packageName #else unnamed #end
					        </td>
					        <td>
					            ${date.format('yyyy-MM-dd hh:mm', $taskInstanceBean.createDate)}
					        </td>
					        <td>
					            <form method="post" action="${contextPath}/taskinstance/${taskInstanceBean.id}.html?method=put">
	                					<input type="hidden" name="user" value="${userBean.id}" />
	                					<input type="submit" name="assignbutton" class="button" value="Assign To Me"/>
	                			</form>	
					        </td>				        
					    </tr>					
				        #end
				    </tbody>
			    </table>
			  #else
			  	#login_required()
			  #end
		</fieldset>
	</div>				    
</div>