<div id="taskinstance">
    <ul id="localNav">
        <li><a href="#taskDetails" ><span> Details </span></a></li>
        #if ($canUpdateUser)    <li><a href="#reassignTask"><span> Reassign </span></a></li> #end
        #if ($formViewName)     <li><a href="#updateTask"  ><span> Update   </span></a></li> #end
        <li><a href="#localHelp"><span> Help     </span></a></li>
    </ul>
    
	<div id="taskDetails">
        <h2>Task: $taskInstanceBean.id</h2>
        <fieldset>
            <legend>$taskInstanceBean.taskBean.name</legend>
	        <table id="dataTable" class="tablesorter"  >
	            <thead>
	                <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tfoot><tr id="taskDetailsHeader">
                        <th>Name</th>
                        <th>Value</th>
                        <th>Description</th>
                </tr></tfoot>
                <tbody>
                    <tr id="taskAssignee" >
                        <td>User</td>
                        <td>#if ($taskInstanceBean.userBean) $taskInstanceBean.userBean.id #else UNASSIGNED #end</td>
                        <td>This persons this task is currently assigned to, if any.</td>
                    </tr>
                    <tr id="taskVisibility" >
                        <td>Groups</td>
                        <td>#foreach($groupBean in $taskInstanceBean.groupBeanList) $groupBean.id #end</td>
                        <td>The groups this task is available to, if any.</td>
                    </tr>
                    <tr id="taskStatus" >
                        <td>Status</td>
                        <td>#if ( $taskInstanceBean.ended ) Completed #else Incomplete #end</td>
                        <td>The current status of this task.</td>
                    </tr>
                    <tr id="taskCreateDate" >
                        <td>Date</td>
                        <td>$taskInstanceBean.createDate</td>
                        <td>The time at which this task was created.</td>
                    </tr>                    
                    #if ( $taskInstanceBean.ended )
                    <tr id="taskCompletionDate" >
                        <td>Date</td>
                        <td>$taskInstanceBean.endDate</td>
                        <td>The time at which this task was marked as completed.</td>
                    </tr>
                    #end
                </tbody>
            </table>
        </fieldset>
    </div>

    #if ($canUpdateUser)
	<div id="reassignTask">
	    <h2>Reassign Task</h2>
	    <form method="post" action="${requestURI}?method=put">
	        <fieldset>
	            <legend>Reassign this task to another user</legend>
	            <label for="taskReassingee">User</label>
    		    <select id="taskReassignee" name="user">
        			<option value="null">none</option>
        			#foreach($userBean in $userBeanList)
        				<option value="$userBean.id">$userBean.id</option>					
        			#end				
        		</select>
        		<input class="button" type="submit" value="submit"/>
	        </fieldset>
    	</form>
	</div>
    #end

	<h2>Comments</h2>
	#foreach($commentBean in $taskInstanceBean.processInstanceBean.commentBeanList)
		<p>$commentBean.message<br/>
		-- $commentBean.actorId ($commentBean.date)</p>
	#end

    #if ($canAddComment)
	<div id="addComment">
	    <h2>Add Comment</h2>
			<form method="post" action="${contextPath}/processinstance/${taskInstanceBean.processInstanceBean.id}/comment.html">
				<input type="hidden" name="referer" value="/taskinstance/${taskInstanceBean.id}.html" />
				<textarea name="message"></textarea>				
				<input type="submit" value="create"/>
			</form>						
	</div>
    #end


    #if ($formViewName)
    <div id="updateTask">
	    <h2>Update</h2>
    	#if ($errorList.size() > 0)
    	<fieldset>
		    <legend>Errors</legend>
		    #foreach($error in $errorList)
			<label for="error">$error</label>
			<input id="error" 
			    type="text"
			    readonly="readonly"
			    value="$error"/>
		    #end
		</fieldset>
    	#end
		<form method="post" action="${requestURI}?method=put" enctype="multipart/form-data">
			#parse( "${formViewName}.vm" )
			<fieldset>
			    <legend>Transition</legend>
    			<select id="transition" name="transition">	
    				<option value="null">Leave task as incomplete.</option>
    				#foreach ($transition in $taskInstanceBean.taskBean.leavingTransitionList)	
    					<option value="$transition">#springMessageText("transitions.${transition}" $transition)</option>
    				#end
    			</select>							
    			<input class="button" type="submit" value="submit"/>
			</fieldset>
		</form>
	</div>
    #end
    
    <div id="localHelp">
		<h2>Help</h2>
	#if ($instructionViewName)
		#include("${instructionViewName}.vm")
	#else
	    <p>No help is currently available for this task.</p>
	#end
	</div>
</div>