<div id="tasks">
    <ul id="localNav">
        <li><a href="#userTasks"            ><span> User Tasks ( $userTaskInstanceBeanList.size() ) </span></a></li>
        <li><a href="#groupTasks"           ><span> Group Tasks ( $groupTaskInstanceBeanList.size() )  </span></a></li>
        <li><a href="#workflows"            ><span> Workflows  ( $processDefinitionBeanList.size() )  </span></a></li>
        <li><a href="#localHelp"            ><span> Help                  </span></a></li>
    </ul>
	<div id="userTasks">
		<h2>User Tasks</h2>
        <fieldset>
            <legend>Pending Tasks</legend>
		    <table>
		        <tbody><tr><td>
                    <form id="pager" class="pager">
                		<img src="${contextPath}/images/icons/first.png" class="first"/>
                		<img src="${contextPath}/images/icons/prev.png" class="prev"/>
                		<input type="text" class="pagedisplay"/>
                		<img src="${contextPath}/images/icons/next.png" class="next"/>
                		<img src="${contextPath}/images/icons/last.png" class="last"/>
                		<select class="pagesize">
                			<option selected="selected"  value="10">10</option>
                			<option value="20">20</option>
                			<option value="30">30</option>
                			<option  value="40">40</option>
                		</select>
                    </form>
                </td></tr></tbody>
            </table>
	        <table id="pageableDataTable" class="tablesorter"  >
	            <thead>
	                <tr id="taskDetailsHeader">
                        <th>Name</th>
                        <th>Package</th>
                        <th>Create date</th>
                    </tr>
                </thead>
                <tfoot><tr id="taskDetailsFooter">
                        <th>Name</th>
                        <th>Package</th>
                        <th>Create date</th>
                </tr></tfoot>
                <tbody>
			        #foreach($taskInstanceBean in $userTaskInstanceBeanList)
			        <tr id="task${taskInstanceBean.id}" >
				        <td><a href="./taskinstance/${taskInstanceBean.id}.html">
				            ${taskInstanceBean.taskBean.name} ($taskInstanceBean.id)
				        </a></td>
				        <td>
				            #set($packageName = "none")
				            #set($packageName = $taskInstanceBean.processInstanceBean.packageName)
				            $packageName
				        </td>
				        <td>
				            ${taskInstanceBean.createDate}
				        </td>				        
				    </tr>					
			        #end
			    </tbody>
		    </table>
		</fieldset>
		
	</div>
    <div id="groupTasks">
		<h2>Group Task List</h2>
		<ul>
			#foreach($taskInstanceBean in $groupTaskInstanceBeanList)
			<li>
				<form method="post" action="./taskinstance/${taskInstanceBean.id}?method=put">
				    <fieldset title="Accept This Task">
			            <legend>${taskInstanceBean.taskBean.name} (${taskInstanceBean.id})</legend>
    					<input type="hidden" name="user" value="$currentUser" />
    					<input type="submit"  class="button" value="Assign To Me"/>
    					<label>Accepting this task will move it into your User Task's.</label>
		            </fieldset>				
    			</form>	
			</li>					
			#end
		</ul>
	</div>
	<div id="workflows">
		<h2>Workflows</h2>
		<ul>
			#foreach($processDefinitionBean in $processDefinitionBeanList)
				#set ($code = "processdefinitions.${processDefinitionBean.id}")
			<li>
				<form method="post" action="./processdefinition/${processDefinitionBean.id}.html">
                    <fieldset title="Create a New Workflow">
			            <legend>#springMessage($code) (${processDefinitionBean.id})</legend>
			            <input type="hidden" name="referer" value="/index.html" />
    					<input type="submit" class="button" value="create"/>
    					<label>Creating a new Workflow allows tracking a new transfer process.</label>
				    </fieldset>					
    			</form>						
			</li>					
			#end
		</ul>
	</div>
	
	<div id="suspendedProcessInstances">
		<h2>Suspended process instances</h2>
		<!-- Chris -> This should probably be a table to support sorting -->
		<ul>
			#foreach($processInstanceBean in $suspendedProcessInstanceBeanList)
				<li>
		            #set ($code = "processdefinitions.${processInstanceBean.processDefinitionBean.id}")
		            #set($packageName = "none")
		            #set($packageName = $processInstanceBean.packageName)
		            <a href="./processinstance/$processInstanceBean.id">#springMessage($code) (${processInstanceBean.id}) </a> - $packageName				
				</li>	
			#end	
		</ul>
		</ul>
	
	<div id="localHelp">
        <h1>Help        </h1>
        <p>TODO: Explain each of the following...</p>
	    <ul id="helpTopics">
	        <li class="selected">
	            <h2>User Tasks  </h2>
	            <p> TODO: User Tasks are task that have been assigned to you or
                     you have accepted from available group tasks...</p>
		    </li>
            <li>
	            <h2>Group Tasks  </h2>
	            <p> TODO: Group Tasks are task that are available to you by
		             virtue of your group membership...</p>
		    </li>
            <li>
	            <h2>Process Instances  </h2>
	            <p> TODO: A Process Instance is a ...</p>
		    </li>
            <li>
	            <h2>More Help  </h2>
	            <p> TODO: If you need more help, you can...</p>
	            <p> TODO: For additional support please contact...</p>
		    </li>
        </ul>
    </div>
    
</div>