<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>American Memory from the Library of Congress - Browse by Category</title>
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="keywords" content="american history, audio, sound recordings, video, films, motion pictures, maps, historical images, historical pictures, history, NDLP, national digital library program, historical research, folklore, folklife, cultural history, culture, folk culture, oral history, narratives, slavery, african american history, abraham lincoln, george washington, thomas jefferson, baseball, ethnography, folk music, sheet music, government, political science, format, type of resource, maps, books, prints, photographs, pictures, manuscripts, sound recordings, audio, motion pictures, video, film, sheet music, time periods, eras, places, dates" />
<meta name="description" content="Browse the American Memory Historical Collections from the Library of Congress. View historical images, maps, sound recordings, motion pictures, and more." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      @import url(../css/am15_global_ss.css);
      @import url(../css/subjects_ss.css);
    </style>
    <link rel="stylesheet" media="print" type="text/css" href="../css/am15_print1_ss.css" />
    <script language="JavaScript" type="text/javascript" src="../js/searchval.js"></script>
    <!--
      library webmasters please do not remove or change the following code.
      for more information see http://www.loc.gov/acsi 
    //-->
    <script language="javascript" type="text/javascript" src="http://memory.loc.gov/ammem/scripts/triggerParams.js"></script>  

    <script language="javascript" type="text/javascript" src="http://memory.loc.gov/ammem/scripts/stdLauncher.js"></script> 
    <script language="javascript" type="text/javascript">Poll(); </script>
    <script type='text/javascript' src='/global/triggerParams.js'></script>
    <script type='text/javascript' src='/global/stdLauncher.js'></script><script type='text/javascript'>Poll();</script>
  </head>
  <body>
    <a id="skip" href="#page_content">&nbsp;</a>
    <div id="container">
      
    </div>
    <script type='text/javascript' src='/global/s_code.js'></script>
  </body>
</html>
