<div id="topnav">
  <ul id="menu">
    <li id="logo" title="The Library of Congress - Transfer Application">
      <a href="${contextPath}/index.html"></a>
    </li>
    <li id="home">
      <a href="${contextPath}/index.html"> home </a>
    </li>
    <li id="admin">
      <a href="${contextPath}/admin.html"> admin </a>
    </li>
    <li id="help">
      <a href="${contextPath}/help.html">  help </a>
    </li>
    <li id="contact">
      <a href="${contextPath}/contact.html"> contact </a>
    </li>
    <!--block("search")-->
  </ul>
</div>